<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Collection Page</title>
    <link rel="stylesheet" href="../styles/collection.css">
    <link rel="stylesheet" href="../pages/collection.css">
</head>
<body>
    <div class="collection__content-wrapper">
        <div class="collection__container">
            <aside>
                <input class="collection__toggle" id="toggle" type="checkbox"/>
                <label class="collection__toggle-btn" for="toggle">
                    <div class="collection__toggle-line-wrapper">
                        <span class="collection__toggle-line"></span>
                        <span class="collection__toggle-line"></span>
                        <span class="collection__toggle-line"></span>
                    </div>
                </label>
                <div class="collection__side-menu">
                    <p>생성된 정보들<br><span>모아 보기</span></p>
                    <hr>
                    <div class="collection__list-wrapper">
                        <div ></div>
                        <ul>
                            <span>이름</span>
                            <li><a href="#">ㄱ행</a></li>
                            <li><a href="#">ㄴ행</a></li>
                            <li><a href="#">ㄷ행</a></li>
                            <li><a href="#">ㄹ행</a></li>
                            <li><a href="#">ㅁ행</a></li>
                            <li><a href="#">ㅂ행</a></li>
                            <li><a href="#">ㅅ행</a></li>
                            <li><a href="#">ㅇ행</a></li>
                            <li><a href="#">ㅈ행</a></li>
                            <li><a href="#">ㅊ행</a></li>
                            <li><a href="#">ㅋ행</a></li>
                            <li><a href="#">ㅌ행</a></li>
                            <li><a href="#">ㅍ행</a></li>
                            <li><a href="#">ㅎ행</a></li>
                        </ul>
                        <ul>
                            <span>카테고리</span>
                            <li><a href="#">맛집</a></li>
                            <li><a href="#">편의시설</a></li>
                            <li><a href="#">오락시설</a></li>
                        </ul>
                        <ul>
                            <span>평점</span>
                            <li><a href="#">5점</a></li>
                            <li><a href="#">4점 이상</a></li>
                            <li><a href="#">3점 이상</a></li>
                            <li><a href="#">2점 이상</a></li>
                            <li><a href="#">그 외</a></li>
                        </ul>
                    </div>
                </div>
            </aside>
            <main>
                <div class="collection__content">
                    <nav>
                        <div class="collection__content-top">
                            <div class="collection__sort">
                                <span>정렬</span><span> | </span></span>
                                <a  href="#">이름</a>
                                <a class="collection__active" href="#">카테고리</a>
                                <a  href="#">평점</a>
                            </div>
                            <div class="collection__search">
                                <img src="../assets/800px-Vector_search_icon.png">
                                <input type="text">
                            </div>
                        </div>
                    </nav>
                    <div class="collection__category">
                        <section>
                            <div class="collection__category-title">
                                <h3>카테고리</h3>
                                <p>맛집</p>
                            </div>
                            <div class="collection__card-container">
                                <div class="collection__card">
                                    <img src="../assets/data1.jpg" width="300px" height="189px">
                                    <p class="collection__name">백소정 동양미래대점</p>
                                    <p>★★★★★</p><span class="collection__eva-num">5.0</span>
                                    <div>
                                        내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명
                                    </div>
                                    <a href="./data/data1-detail.html">◀ 더 자세히 보러가기</a>
                                </div>
                                <div class="collection__card">
                                    <img src="../assets/data1.jpg" width="300px" height="189px">
                                    <p class="collection__name">백소정 동양미래대점</p>
                                    <p>★★★★★</p><span class="collection__eva-num">5.0</span>
                                    <div>
                                        내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명
                                    </div>
                                    <a href="./data/data1-detail.html">◀ 더 자세히 보러가기</a>
                                </div>
                                <div class="collection__card">
                                    <img src="../assets/data1.jpg" width="300px" height="189px">
                                    <p class="collection__name">백소정 동양미래대점</p>
                                    <p>★★★★★</p><span class="collection__eva-num">5.0</span>
                                    <div>
                                        내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명
                                    </div>
                                    <a href="./data/data1-detail.html">◀ 더 자세히 보러가기</a>
                                </div>
                                <div class="collection__card">
                                    <img src="../assets/data1.jpg" width="300px" height="189px">
                                    <p class="collection__name">백소정 동양미래대점</p>
                                    <p>★★★★★</p><span class="collection__eva-num">5.0</span>
                                    <div>
                                        내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명
                                    </div>
                                    <a href="./data/data1-detail.html">◀ 더 자세히 보러가기</a>
                                </div>
                                <div class="collection__card">
                                    <img src="../assets/data1.jpg" width="300px" height="189px">
                                    <p class="collection__name">백소정 동양미래대점</p>
                                    <p>★★★★★</p><span class="collection__eva-num">5.0</span>
                                    <div>
                                        내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명
                                    </div>
                                    <a href="./data/data1-detail.html">◀ 더 자세히 보러가기</a>
                                </div>
                            </div>
                        </section>
                        <section>
    
                            <div class="collection__category-title">
                                <p>편의 시설</p>
                            </div>
                            <div class="collection__card-container">
                                <div class="collection__card">
                                    <img src="../assets/data1.jpg" width="300px" height="189px">
                                    <p class="collection__name">백소정 동양미래대점</p>
                                    <p>★★★★★</p><span class="collection__eva-num">5.0</span>
                                    <div>
                                        내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명
                                    </div>
                                    <a href="./data/data1-detail.html">◀ 더 자세히 보러가기</a>
                                </div>
                                <div class="collection__card">
                                    <img src="../assets/data1.jpg" width="300px" height="189px">
                                    <p class="collection__name">백소정 동양미래대점</p>
                                    <p>★★★★★</p><span class="collection__eva-num">5.0</span>
                                    <div>
                                        내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명
                                    </div>
                                    <a href="./data/data1-detail.html">◀ 더 자세히 보러가기</a>
                                </div>
                                <div class="collection__card">
                                    <img src="../assets/data1.jpg" width="300px" height="189px">
                                    <p class="collection__name">백소정 동양미래대점</p>
                                    <p>★★★★★</p><span class="collection__eva-num">5.0</span>
                                    <div>
                                        내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명
                                    </div>
                                    <a href="./data/data1-detail.html">◀ 더 자세히 보러가기</a>
                                </div>
                                <div class="collection__card">
                                    <img src="../assets/data1.jpg" width="300px" height="189px">
                                    <p class="collection__name">백소정 동양미래대점</p>
                                    <p>★★★★★</p><span class="collection__eva-num">5.0</span>
                                    <div>
                                        내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명
                                    </div>
                                    <a href="./data/data1-detail.html">◀ 더 자세히 보러가기</a>
                                </div>
                            </div>
                        </section>
                        <section>
    
                            <div class="collection__category-title">
                                <p>오락시설</p>
                            </div>
                            <div class="collection__card-container">
                                <div class="collection__card">
                                    <img src="../assets/data1.jpg" width="300px" height="189px">
                                    <p class="collection__name">백소정 동양미래대점</p>
                                    <p>★★★★★</p><span class="collection__eva-num">5.0</span>
                                    <div>
                                        내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명
                                    </div>
                                    <a href="./data/data1-detail.html">◀ 더 자세히 보러가기</a>
                                </div>
                                <div class="collection__card">
                                    <img src="../assets/data1.jpg" width="300px" height="189px">
                                    <p class="collection__name">백소정 동양미래대점</p>
                                    <p>★★★★★</p><span class="collection__eva-num">5.0</span>
                                    <div>
                                        내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명
                                    </div>
                                    <a href="./data/data1-detail.html">◀ 더 자세히 보러가기</a>
                                </div>
                                <div class="collection__card">
                                    <img src="../assets/data1.jpg" width="300px" height="189px">
                                    <p class="collection__name">백소정 동양미래대점</p>
                                    <p>★★★★★</p><span class="collection__eva-num">5.0</span>
                                    <div>
                                        내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명
                                    </div>
                                    <a href="./data/data1-detail.html">◀ 더 자세히 보러가기</a>
                                </div>
                                <div class="collection__card">
                                    <img src="../assets/data1.jpg" width="300px" height="189px">
                                    <p class="collection__name">백소정 동양미래대점</p>
                                    <p>★★★★★</p><span class="collection__eva-num">5.0</span>
                                    <div>
                                        내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명내용설명
                                    </div>
                                    <a href="./data/data1-detail.html">◀ 더 자세히 보러가기</a>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </main>
    </div>
</body>
</html>
