<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detail Page</title>
    <link href="../styles/detail.css" rel="stylesheet">
    <link rel="stylesheet" href="../styles/default.css">
</head>
<body>
    <div class="detail__content">
        <div class="detail__title">
            <p>○○○○고척점<span>맛집</span><img src="./images/star.PNG"></p>
        </div>
        <hr>
        <div class="detail__title-area">
            <p>작성자 □□□□</p>
        </div>
        <div class="detail__main-content">
            <div class="detail__image-area">
                <img src="./images/image-area.PNG">
            </div>
            <div class="detail__text-area">
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quas tenetur perspiciatis corporis? Aut adipisci qui eveniet rem. Ipsa laboriosam magni eaque, animi facere at. Explicabo eum deleniti laborum ut asperiores.Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis delectus illum sequi! Vel modi tenetur deleniti, enim quaerat accusantium dicta temporibus omnis eligendi illo. Ratione nostrum officiis cum perspiciatis natus.Lorem ipsum dolor, sit amet consectetur adipisicing elit. Non rem reiciendis praesentium dignissimos, doloremque, assumenda cupiditate voluptate, quam nostrum perferendis beatae inventore tempore corporis facere quas veniam esse nam consequuntur!Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quos, porro, atque perspiciatis architecto unde itaque nisi iure officiis est sunt esse perferendis dignissimos saepe ducimus rem quod qui, nemo obcaecati.</p>
            </div>
            <div class="detail__map-frame-wrapper">
                <div class="detail__map-frame-title">지도 정보</div>
                <iframe></iframe>
            </div>
        </div>
        <div class="detail__comments-wrapper">
            <h3>댓글</h3>
            <div class="detail__comment-wrapper">
                <div class="detail__user-wrapper">
                    <span class="detail__user">사용자1</span><span class="detail__user-eva">★★★★★</span>
                </div>
                <div class="detail__comment">
                    <p>사장님이 맛있고 음식이 친절해요!</p>
                </div>
            </div>
            <div class="detail__comment-wrapper">
                <div class="detail__user-wrapper">
                    <span class="detail__user">사용자2</span><span class="detail__user-eva">★★★★★</span>
                </div>
                <div class="detail__comment">
                    <p>사장님이 맛있고 음식이 친절해요!</p>
                </div>
            </div>
            <div class="detail__input-comment">
                <textarea placeholder="여기에 댓글을 입력" ></textarea>
                <div class="detail__submit-wrapper">
                    <div class="detail__submit-eva">★★★★★</div><button type="submit" class="detail__submit-btn colored-button">제출하기</button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>