<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detail Page</title>
    <link href="../styles/detail.css" rel="stylesheet">
    <link rel="stylesheet" href="../styles/default.css">
</head>
<body>
    <div class="detail__content">
        <div class="detail__title">
            <p>○○○○고척점<span>맛집</span><img src="./images/star.PNG"></p>
        </div>
        <hr>
        <div class="detail__main-content">
            <div class="detail__title-area">
                <p>작성자 □□□□</p>
            </div>
            <div class="detail__image-area">
                <img src="./images/image-area.PNG">
                <iframe>
                </iframe>
            </div>
            <div class="detail__text-area"> 
                <p>내용내용내용내용내용내용내용내용내용내용내용내용내용내
                    용내용내용내용내용내용내용내용내용내용내용내용내용
                    내용내용내용내용내용내용내용내용내용내용내용내용내
                    용내용내용내용내용내용내용내용내용내용내용내용내
                    용내용내용내용내용내용내용내용내용내용내용내용내
                    용내용내용내용내용내용내용내용내용내용내용내용내용
                    내용내용내용내용내용내용내용내용내용내용내용내용
                    내용내용내용내용내용내용내용내용내용내용내용내용
                    내용내용내용내용내용내용내용내용내용내용내용내용
                    내용내용내용내용내용내용내용내용내용내용내용내용
                    내용내용내용내용내용내용내용내용내용내용내용내
                    용내용내용내용내용내용내용내용내용내용내용내용내
                    용내용내용내용내용내용내용내용내용내용내용내용내
                    용내용내용내용내용내용내용내용내용내용내용내용내용
                    내용내용내용내용내용내용내용내용내용내용내용내용내
                    용내용내용내용내용내용내용내용내용내용내용내용내용
                    내용내용내용내용내용내용내용내용내용내용내용내용내
                    용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내
                    용내용내용내용내용내용내용내용내용내용내용내용내용</p>
            </div>
        </div>
        <div class="detail__comment-wrap">
            <h3>댓글</h3>
            <div class="detail__user">
                <p><span>사용자1</span></p><img src="./images/star.PNG">
            </div>
            <div class="detail__comment">
                <p>사장님이 맛있고 음식이 친절해요!</p>
            </div>
            <div class="detail__user">
                <p><span>사용자1</span></p><img src="./images/star.PNG">
            </div>
            <div class="detail__comment">
                <p>사장님이 맛있고 음식이 친절해요!</p>
            </div>
            <div class="detail__input-comment">
                <textarea placeholder="여기에 댓글을 입력" ></textarea>
                <img src="./images/star.PNG"><button>제출하기</button>
            </div>
        </div>
    </div>
</body>
</html>