<!DOCTYPE html>
<html lang="en">
<head>
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="../styles/header.css">
</head>
<body>
    <header class="header__wrapper">
        <div class="header__left-wrapper">
            <div class="header__logo">DMUinfo</div>
            <nav class="header__nav-bar">
                <a class="header__btn" href="./map-page.html">지도 보기</a>
                <a class="header__btn" href="./collection-page.html">모아 보기</a>
            </nav>
        </div>
        <div class="header__sign-section">
            <a class="header__btn " href="./signin-page.html">로그인</a>
            <a class="header__btn header__signup" href="./signup-page1.html">회원 가입</a>
        </div>
    </header>
</body>
</html>