<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>main-page</title>
    <link rel="stylesheet" href="../styles/main.css">
</head>
<body>
    <main class="main__all">
        <div class="main__title-image">
            <div class="main__title">
                <h1>
                    당신이 필요로 하는 <br>
                    동양의 정보
                </h1>
                <p>DMUinfo에서 한눈에 확인하고, 자유롭게 공유해보세요.</p>
                <a class="main__signup-button" href="../pages/signup-page1.html">회원가입</a>
            </div>
        </div>
        <section class="main__section1">
            <h1 class="section1__title">어떤 서비스를 제공하나요 ?</h1>
            <div class="section1__service">
                <div class="section1__sub-section section1__sub-section1 scroll-animation">
                    <img src="../assets/signup.png" alt="">
                    <p class="section1__sub-title ">회원가입</p>
                    <p>asdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdf</p>
                </div>
                <div class="section1__sub-section section1__sub-section2 scroll-animation">
                    <img src="../assets/facility.png" alt="">
                    <p class="section1__sub-title">시설물들의 위치</p>
                    <p>asdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdf</p>
                </div>
                <div class="section1__sub-section section1__sub-section3 scroll-animation">
                    <img src="../assets/restaurant.png" alt="">
                    <p class="section1__sub-title">다양한 맛집</p>
                    <p>asdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdf</p>
                </div>
                <div class="section1__sub-section section1__sub-section4 scroll-animation">
                    <img src="../assets/opinion.png" alt="">
                    <p class="section1__sub-title">의견 공유</p>
                    <p>asdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdf</p>
                </div>
                <div class="section1__sub-section section1__sub-section5 scroll-animation">
                    <img src="../assets/rank.png" alt="">
                    <p class="section1__sub-title">랭킹 정보 제공</p>
                    <p>asdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdf</p>
                </div>
                <div class="section1__sub-section section1__sub-section6 scroll-animation">
                    <img src="../assets/category.png" alt="">
                    <p class="section1__sub-title">카테고리 분류</p>
                    <p>asdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdf</p>
                </div>
            </div>
        </section>
        <section class="main__section2">
            <div class="section2__more">
                <div class="section2__bogie"></div>
                <div class="section2__bogie"></div>
                <div class="section2__bogie"></div>
                <div class="section2__bogie"></div>
            </div>
            <a href="../pages/collection-page.html">더 자세히 보러가기</a>
        </section>
    </main>
    <script>
        function reveal() {
            var reveals = document.querySelectorAll(".scroll-animation");

            for (var i = 0; i < reveals.length; i++) {
              var windowHeight = window.innerHeight;
              var elementTop = reveals[i].getBoundingClientRect().top;
              var elementVisible = 150;

              if (elementTop < windowHeight - elementVisible) {
                reveals[i].classList.add("on");
              }
            }
          }

          window.addEventListener("scroll", reveal);
    </script>
</body>

</html>