<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../styles/map.css">
    <link rel="stylesheet" href="../styles/map-page.css">
</head>
<body>
    <section class="map__map-section">
        <div class="map__cur-coords">(null,null)</div>
        <!--map data anchor-->
        <div class="map__data-wrapper">
            <!--data1-->
            <a href="../components/data/data1.html" class="map__marker" id="map__marker1" target="map__detail-info-iframe"></a>
            <div class="map__data" id="map__data1">
                <div class="map__data-content-wrapper">
                    <div class="map__data-upper-section">
                        <div class="map__data-image" id="map__data-image1"></div>
                        <h3>백소정</h3>
                        <div>★★★★★</div>
                    </div>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi impedit provident exercitationem delectus quod laboriosam architecto repudiandae libero officiis iste quidem fugit, voluptatem illo fuga modi odio ratione tempore. Veniam! Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem aspernatur sint repellat quia qui, hic quod. Harum explicabo, consequatur maiores veniam, non, facilis esse recusandae quod ad rerum aspernatur nam!</p>
                    <div class="map__func-btns-wrapper">
                        <div class="map__share-btn-wrapper map__func-btn-wrapper">
                            <button type="button"><img src="../assets/share mark.png" alt=""></button>
                            <div>공유</div>
                        </div>
                        <div class="map__restore-btn-wrapper map__func-btn-wrapper">
                            <button type="button"><img src="../assets/restore mark.png" alt=""></button>
                            <div>저장</div>
                        </div>
                    </div>
                </div>
            </div>
            <!---->
            <!--data2-->
            <a href="../components/data/data2.html" class="map__marker" id="map__marker2" target="map__detail-info-iframe"></a>
            <div class="map__data" id="map__data2">
                <div class="map__data-content-wrapper">
                    <div class="map__data-upper-section">
                        <div class="map__data-image" id="map__data-image2"></div>
                        <h3>백소정</h3>
                        <div>★★★★★</div>
                    </div>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi impedit provident exercitationem delectus quod laboriosam architecto repudiandae libero officiis iste quidem fugit, voluptatem illo fuga modi odio ratione tempore. Veniam! Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem aspernatur sint repellat quia qui, hic quod. Harum explicabo, consequatur maiores veniam, non, facilis esse recusandae quod ad rerum aspernatur nam!</p>
                    <div class="map__func-btns-wrapper">
                        <div class="map__share-btn-wrapper map__func-btn-wrapper">
                            <button type="button"><img src="../assets/share mark.png" alt=""></button>
                            <div>공유</div>
                        </div>
                        <div class="map__restore-btn-wrapper map__func-btn-wrapper">
                            <button type="button"><img src="../assets/restore mark.png" alt=""></button>
                            <div>저장</div>
                        </div>
                    </div>
                </div>
            </div>
            <!---->
        </div>
        <!---->
        <img class="map__map-image" src="../assets/map.png" usemap="#dongyang-map" onclick="getCoords(event)">
        <iframe src="" class="map__detail-info-iframe" name="map__detail-info-iframe"></iframe>
    </section>
</body>
</html>