<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../styles/map-card.css">
</head>
<body>
    <div class="map-card__contnet-wrapper">
        <div class="map-card__image-wrapper">
            <a href="./data10-detail.html#image-modal" class="map-card__hover-text" target="_blank">
                클릭하여 자세히 보기
            </a>
            <img class="map-card__image" src="../../assets/data10-1.jpg" alt="">
        </div>
        <h1>죠스떡볶이</h1>
        <div class="map-card__user-eva">★★★☆☆</div><div class="map-card__user-eva-number">3.0</div>
        <div class="map-card__menu-wrapper">
            <a href="#summary" class="map-card__menu active" onclick="activeMenu(event)">개요</a>
            <a href="#comment" class="map-card__menu" onclick="activeMenu(event)">댓글</a>
            <a href="#info" class="map-card__menu" onclick="activeMenu(event)">정보</a>
        </div>
        <div class="map-card__func-btns-wrapper">
            <div class="map-card__share-btn-wrapper map-card__func-btn-wrapper">
                <button type="button"><img src="../../assets/share mark.png" alt=""></button>
                <div>공유</div>
            </div>
            <div class="map-card__restore-btn-wrapper map-card__func-btn-wrapper">
                <button type="button"><img src="../../assets/restore mark.png" alt=""></button>
                <div>저장</div>
            </div>
        </div>
        <div id="summary">
            <div class="map-card__title">개요</div>
            <p>
                죠스떡볶이 동양미래대점은 떡볶이, 순대, 튀김 등의 분식류와 우동, 닭강정 등을 파는 가게입니다.<br>
                1인세트, 2인 세트 등 인별 세트메뉴도 따로 팔아서 인원수 대로 먹기에도 좋습니다. 떡볶이의 국물이 순대 간이나 튀김을 찍어 먹기에도 안성맞춤입니다.<br>
                야구장이 근처에 있어서 야구장에서 먹을 음식을 사가기에도 적합한 가게이고, 포장도 깔끔하게 나와서 흘릴 걱정은 안 하셔도 좋을 것 같습니다.
            </p>
        </div>
        <div id="comment">
            <div class="map-card__title">댓글</div>
            <div class="map-card__comment-wrapper">
                <div class="map-card__user-wrapper">
                    <span class="map-card__user">efinho</span><span class="map-card__user-eva">★★★★★</span>
                </div>
                <div class="map-card__comment">
                    <p>고척 야구장에 올 때마다 애용하는 매장인데 사장님이 친절하시고 포장이 깔끔히 되어서 좋았습니다.</p>
                </div>
            </div>
            <div class="map-card__comment-wrapper">
                <div class="map-card__user-wrapper">
                    <span class="map-card__user">cneoeqwi</span><span class="map-card__user-eva">★★★★★</span>
                </div>
                <div class="map-card__comment">
                    <p>무난히 분식 맛을 즐기고 싶을 때 찾게 되는 떡볶이 집입니다.</p>
                </div>
            </div>
            <div class="map-card__create-comment"><a href="./data10-detail.html#input-form" target="_blank">댓글 작성하러 가기 ▶</a></div>
        </div>
        <div id="info">
            <div class="map-card__title">정보</div>
            <div class="map-card__info-wrapper">
                <span>주소</span> : 대한민국 서울특별시 구로구 경인로47길 7 1층
            </div>
            <div class="map-card__info-wrapper">
                <span>전화번호</span> : 02-2060-8889
            </div>
            <div class="map-card__info-wrapper">
                <span>영업시간</span> : 일~금 11:30 - 21:00 / 토 정기휴무
            </div>
            <div class="map-card__info-wrapper">
                <span>SNS</span> : <a href="http://jawsfood.co.kr/">http://jawsfood.co.kr/</a>
            </div>
        </div>
    </div>
    <script>
        function activeMenu(event){
            var menu = document.getElementsByClassName("map-card__menu");
            console.log(menu);
            for(var i = 0; i < 3; i++){
                console.log(menu[i]);
                menu[i].classList.remove("active");
            }
            event.target.classList.add("active");
        }

    </script>
</body>
</html>