<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detail Page</title>
    <link rel="stylesheet" href="../../styles/detail.css">
    <link rel="stylesheet" href="../../styles/default.css">
    <link rel="stylesheet" href="../../styles/header.css">
    <link rel="stylesheet" href="../../styles/footer.css">
</head>
<body>
    <div class="content-wrapper">
        <!--header section-->
        <header class="header__wrapper">
            <div class="header__left-wrapper">
                <div class="header__logo"><a href="../../pages/main-page.html">DMUinfo</a></div>
                <nav class="header__nav-bar">
                    <ul>
                        <li><a class="header__btn" href="../../pages/map-page.html">지도 보기</a></li>
                        <li><a class="header__btn" href="../../pages/collection-page.html">모아 보기</a></li>
                        <li><a class="header__btn" href="../../pages/thread-page.html">게시판 보기</a></li>
                    </ul>
                </nav>
            </div>
            <nav class="header__nav-bar">
                <ul class="header__sign-section">
                    <a class="header__btn " href="../../pages/signin-page.html">로그인</a>
                    <a class="header__btn colored-button" href="../../pages/signup-page1.html">회원 가입</a>
                </ul>
            </nav>
        </header>
        <div class="detail__content">
            <!--main section-->
            <main>
                <div class="detail__title">
                    <p>백소정<span>맛집</span><span class="detail__avg-eva">★★★★★</span>
                </div>
                <hr class="detail__hr">
                <div class="detail__title-area">
                    <p>작성자 qwqeo</p>
                </div>
                <div class="detail__info-area">
                    <img src="../../assets/location.png" alt="location"><p>&nbsp;주소: 서울 구로구 경인로47길 26 2층, 백소정 동양미래대점</p>
                    <img src="../../assets/tel.png" alt="tel"><p>&nbsp;번호: 02-2039-9532</p>
                    <img src="../../assets/calendar.png" alt="calendar"><p>&nbsp;영업시간: 매일 11:00 ~ 21:30 / 20:00 라스트오더</p>
                </div>
                <div class="detail__main-content">
                    <figure class="detail__image-area">
                        <a href="#image-modal" class="detail__hover-text" target="_self">
                            클릭하여 자세히 보기
                        </a>
                        <figcaption>이미지</figcaption>
                        <img src="../../assets/data3-1.jpg">
                    </figure>
                    <div class="detail__text-area">
                        <p>백소정은 돈카츠/ 소바 위주로 파는 가게입니다. 
                            돈카츠는 고기 질도 좋고 부드러워 가족들 끼리도 잘 먹을 수 있고, 두툼한 생고기를 빵가루에 묻혀서 바로 튀겨내서 바삭했습니다. 
                            치즈카츠는 고기 위에 들어간 치즈가 쭉 늘어나는 것이 좋았고 모둠카츠에 같은 곁들어서 나오는 새우튀김도 예술입니다.
                            마제 소바는 색다른 맛, 예쁜 셋팅이 특징입니다. 
                            </p>
                    </div>
                    <div class="detail__map-frame-wrapper">
                        <div class="detail__map-frame-title">지도 정보</div>
                        <iframe src=""></iframe>
                    </div>
                </div>
                <div class="detail__comments-wrapper">
                    <h3>댓글</h3>
                    <div class="detail__comment-wrapper">
                        <div class="detail__user-wrapper">
                            <img src="../../assets/anonymous.png" class="detail__user-profile"><span class="detail__user">ilopki</span><span class="detail__user-eva">★★★★★</span>
                        </div>
                        <div class="detail__comment">
                            <p>가족들끼리 너무 맛있게 식사했고 고기 질도 좋고 부드러워서 아이들도 잘 먹었어요. 
                                그리고 처음으로 마제소바 먹어봤는데 색다르고 특별한 맛ㅎㅎ 또 먹고 싶은 맛이에요
                                </p>
                        </div>
                    </div>
                    <div class="detail__comment-wrapper">
                        <div class="detail__user-wrapper">
                            <img src="../../assets/anonymous.png" class="detail__user-profile"><span class="detail__user">kjnieq</span><span class="detail__user-eva">★★★★★</span>
                        </div>
                        <div class="detail__comment">
                            <p>재방문 꾸준히 하고 있는 식당입니다. 음식 퀄리티도 좋고 서비스도 항상 좋습니다! 항상 맛있는 음식과 친절한 서비스 감사합니다. 다음에도 또 올게요~</p>
                        </div>
                    </div>
                    <form action="" id="input-form">
                        <div class="detail__input-comment">
                            <textarea placeholder="여기에 댓글을 입력" ></textarea>
                            <div class="detail__submit-wrapper">
                                <input type="radio" class="detail__submit-eva" name="eva" value="1">
                                <input type="radio" class="detail__submit-eva" name="eva" value="2">
                                <input type="radio" class="detail__submit-eva" name="eva" value="3" checked>
                                <input type="radio" class="detail__submit-eva" name="eva" value="4">
                                <input type="radio" class="detail__submit-eva" name="eva" value="5">
                                <button type="submit" class="detail__submit-btn colored-button">제출하기</button>
                            </div>
                        </div>
                    </form>
                </div>
            </main>
        </div>
    </div>
    <!--footer section-->
    <footer>
        <div class="footer__lc">
            <div class="footer__flogo">
                <a href="../../pages/main-page.html">DMUinfo</a>
            </div>
            <div class="footer__contents-wrapper">
                <ul class="footer__nav-bar">
                    <li><a class="footer__nav-link" href="../../components/data/thread4-detail.html">이용약관</a></li>
                    <li><a class="footer__nav-link" href="../../components/data/thread2-detail.html">개인정보처리방침</a></li>
                    <li><a class="footer__nav-link" href="../../components/data/thread3-detail.html">운영정책</a></li>
                    <li><a class="footer__nav-link" href="../../components/data/thread1-detail.html">공지사항</a></li>
                    <li><a class="footer__nav-link" href="#">Contact Us</a></li>
                </ul>
                <div class="footer__copyright">ⓒ 2024 동양미래대학교 컴퓨터소프트웨어공학 Team 6 All Right Reserved.</div>
            </div>
        </div>

        <div class="footer__st">
            <div class="footer__menu">
                <h3 class="footer__shortcut">
                    메뉴 바로가기
                </h3>
                <a class="footer__bogie" href="../../pages/main-page.html">지도 보기</a>
                <a class="footer__bogie" href="../../pages/collection-page.html">모아 보기</a>
                <a class="footer__bogie" href="../../pages/thread-page.html">게시판 보기</a>
            </div>
            <div class="footer__team">
                <h3 class="footer__teamtitle">team 6</h3>
                <div class="footer__name">
                    <p>정진오 sample123@gmail.com</p>
                    <p>박근우 sample123@gmail.com</p>
                    <p>박성환 sample123@gmail.com</p>
                    <p>서지연 sample123@gmail.com</p>
                    <p>이재민 sample123@gmail.com</p>
                    <p>이나연 sample123@gmail.com</p>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>