<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../styles/map-card.css">
</head>
<body>
    <div class="map-card__contnet-wrapper">
        <div class="map-card__image-wrapper">
            <a href="./data5-detail.html#image-modal" class="map-card__hover-text" target="_blank">
                클릭하여 자세히 보기
            </a>
            <img class="map-card__image" src="../../assets/data5-1.jpg" alt="">
        </div>
        <h1>얌얌브레드</h1>
        <div class="map-card__user-eva">★★★★☆</div><div class="map-card__user-eva-number">4.0</div>
        <div class="map-card__menu-wrapper">
            <a href="#summary" class="map-card__menu active" onclick="activeMenu(event)">개요</a>
            <a href="#comment" class="map-card__menu" onclick="activeMenu(event)">댓글</a>
            <a href="#info" class="map-card__menu" onclick="activeMenu(event)">정보</a>
        </div>
        <div class="map-card__func-btns-wrapper">
            <div class="map-card__share-btn-wrapper map-card__func-btn-wrapper">
                <button type="button"><img src="../../assets/share mark.png" alt=""></button>
                <div>공유</div>
            </div>
            <div class="map-card__restore-btn-wrapper map-card__func-btn-wrapper">
                <button type="button"><img src="../../assets/restore mark.png" alt=""></button>
                <div>저장</div>
            </div>
        </div>
        <div id="summary">
            <div class="map-card__title">개요</div>
            <p>
                얌얌브레드는 다양한 빵들을 팔고 있는 빵집입니다.<br>
                얌얌브레드의 빵들 중에는 스콘, 베이글, 크루키, 소금빵 등을 팔고 있습니다.<br>
                얌얌브레드의 빵들 중 에그 인 헤드는 빵이 부드러워서 먹기 좋다고 하고, 소금빵은 겉이 바삭하고 속이 쫀득해서 맛이 좋다고 합니다. 이 가게에서는 왠만한 빵들을 팔고 있고 개별로 비닐 포장이 되어 있어서 위생적이라고 합니다.
            </p>
        </div>
        <div id="comment">
            <div class="map-card__title">댓글</div>
            <div class="map-card__comment-wrapper">
                <div class="map-card__user-wrapper">
                    <span class="map-card__user">riwpw</span><span class="map-card__user-eva">★★★★★</span>
                </div>
                <div class="map-card__comment">
                    <p>얌얌브레드 소금빵이 맜있어서 자주 먹는데 서비스 빵도 주시고 쿠폰도 주셔서 조만간 또 방문해야겠어요ㅎㅎ 빵 맜있어요ㅎㅎ</p>
                </div>
            </div>
            <div class="map-card__comment-wrapper">
                <div class="map-card__user-wrapper">
                    <span class="map-card__user">prnwo</span><span class="map-card__user-eva">★★★★★</span>
                </div>
                <div class="map-card__comment">
                    <p>베이글 류는 첨 먹는데 짭잘하고 맛있어요:)</p>
                </div>
            </div>
            <div class="map-card__create-comment"><a href="./data5-detail.html#input-form" target="_blank">댓글 작성하러 가기 ▶</a></div>
        </div>
        <div id="info">
            <div class="map-card__title">정보</div>
            <div class="map-card__info-wrapper">
                <span>주소</span> : 대한민국 서울특별시 구로구 경인로47길 8 1층 얌얌브레드
            </div>
            <div class="map-card__info-wrapper">
                <span>전화번호</span> : 0507-1498-8037
            </div>
            <div class="map-card__info-wrapper">
                <span>영업시간</span> : 월~금 10:00 - 20:00 / 토 10:00 ~ 19:00 / 일 정기휴무
            </div>
            <div class="map-card__info-wrapper">
                <span>SNS</span> : <a href="https://www.instagram.com/yumyum_gocheok">https://www.instagram.com/yumyum_gocheok</a>
            </div>
        </div>
    </div>
    <script>
        function activeMenu(event){
            var menu = document.getElementsByClassName("map-card__menu");
            console.log(menu);
            for(var i = 0; i < 3; i++){
                console.log(menu[i]);
                menu[i].classList.remove("active");
            }
            event.target.classList.add("active");
        }

    </script>
</body>
</html>