<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../styles/map-card.css">
</head>
<body>
    <div class="map-card__contnet-wrapper">
        <div class="map-card__image-wrapper">
            <a href="./data12-detail.html#image-modal" class="map-card__hover-text" target="_blank">
                클릭하여 자세히 보기
            </a>
            <img class="map-card__image" src="../../assets/data12-1.jpg" alt="">
        </div>
        <h1>구로 메디칼약국</h1>
        <div class="map-card__user-eva">★★★★☆</div><div class="map-card__user-eva-number">4.0</div>
        <div class="map-card__menu-wrapper">
            <a href="#summary" class="map-card__menu active" onclick="activeMenu(event)">개요</a>
            <a href="#comment" class="map-card__menu" onclick="activeMenu(event)">댓글</a>
            <a href="#info" class="map-card__menu" onclick="activeMenu(event)">정보</a>
        </div>
        <div class="map-card__func-btns-wrapper">
            <div class="map-card__share-btn-wrapper map-card__func-btn-wrapper">
                <button type="button"><img src="../../assets/share mark.png" alt=""></button>
                <div>공유</div>
            </div>
            <div class="map-card__restore-btn-wrapper map-card__func-btn-wrapper">
                <button type="button"><img src="../../assets/restore mark.png" alt=""></button>
                <div>저장</div>
            </div>
        </div>
        <div id="summary">
            <div class="map-card__title">개요</div>
            <p>
                구로 메디칼약국은 다양한 약들을 팔고 있는 약국입니다.<br>
                야구장, 대학교나 사람들이 많이 지나다니는 곳에 약국이 있기 때문에 야구를 보려고 오신 분들이나 대학생 분들이 갑자기 몸이 안 좋아지려고 할 때 빠르게 오실 수 있습니다.<br>
                근처에 병원이 있기 때문에 병원에서 진료를 받으신 분들이 오시기에도 좋습니다. 약국 직원분들이 복약지도를 잘 해주시기에 약을 정확하게 복용할 수 있습니다.
            </p>
        </div>
        <div id="comment">
            <div class="map-card__title">댓글</div>
            <div class="map-card__comment-wrapper">
                <div class="map-card__user-wrapper">
                    <span class="map-card__user">weojfe</span><span class="map-card__user-eva">★★★★★</span>
                </div>
                <div class="map-card__comment">
                    <p>감사해요. 약먹고 빨리 쾌차했으면 좋겠습니다.</p>
                </div>
            </div>
            <div class="map-card__comment-wrapper">
                <div class="map-card__user-wrapper">
                    <span class="map-card__user">qneoope</span><span class="map-card__user-eva">★★★★★</span>
                </div>
                <div class="map-card__comment">
                    <p>진료받고 방문했습니다.</p>
                </div>
            </div>
            <div class="map-card__create-comment"><a href="./data12-detail.html#input-form" target="_blank">댓글 작성하러 가기 ▶</a></div>
        </div>
        <div id="info">
            <div class="map-card__title">정보</div>
            <div class="map-card__info-wrapper">
                <span>주소</span> : 대한민국 서울특별시 구로구 경인로 431
            </div>
            <div class="map-card__info-wrapper">
                <span>전화번호</span> : 0507-1381-3206
            </div>
            <div class="map-card__info-wrapper">
                <span>영업시간</span> : 월~금 09:00 - 18:30 / 토 09:00 - 13:00 / 일 정기휴무
            </div>
            <div class="map-card__info-wrapper">
                <span>SNS</span> : <a href=""></a>
            </div>
        </div>
    </div>
    <script>
        function activeMenu(event){
            var menu = document.getElementsByClassName("map-card__menu");
            console.log(menu);
            for(var i = 0; i < 3; i++){
                console.log(menu[i]);
                menu[i].classList.remove("active");
            }
            event.target.classList.add("active");
        }

    </script>
</body>
</html>