<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../styles/map-card.css">
</head>
<body>
    <div class="map-card__contnet-wrapper">
        <div class="map-card__image-wrapper">
            <a href="./data1-detail.html" class="map-card__hover-text" target="_blank">
                클릭하여 자세히 보기
            </a>
            <img class="map-card__image" src="../../assets/data1.jpg" alt="">
        </div>
        <h1>백소정 동양미래대점</h1>
        <div class="map-card__user-eva">★★★★★</div><div class="map-card__user-eva-number">5.0</div>
        <div class="map-card__menu-wrapper">
            <a href="#summary" class="map-card__menu active" onclick="activeMenu(event)">개요</a>
            <a href="#comment" class="map-card__menu" onclick="activeMenu(event)">댓글</a>
            <a href="#info" class="map-card__menu" onclick="activeMenu(event)">정보</a>
        </div>
        <div class="map-card__func-btns-wrapper">
            <div class="map-card__share-btn-wrapper map-card__func-btn-wrapper">
                <button type="button"><img src="../../assets/share mark.png" alt=""></button>
                <div>공유</div>
            </div>
            <div class="map-card__restore-btn-wrapper map-card__func-btn-wrapper">
                <button type="button"><img src="../../assets/restore mark.png" alt=""></button>
                <div>저장</div>
            </div>
        </div>
        <div id="summary">
            <div class="map-card__title">개요</div>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi impedit provident exercitationem delectus quod laboriosam architecto repudiandae libero officiis iste quidem fugit, voluptatem illo fuga modi odio ratione tempore. Veniam! Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem aspernatur sint repellat quia qui, hic quod. Harum explicabo, consequatur maiores veniam, non, facilis esse recusandae quod ad rerum aspernatur nam!
            </p>
        </div>
        <div id="comment">
            <div class="map-card__title">댓글</div>
            <div class="map-card__comment-wrapper">
                <div class="map-card__user-wrapper">
                    <span class="map-card__user">사용자1</span><span class="map-card__user-eva">★★★★★</span>
                </div>
                <div class="map-card__comment">
                    <p>사장님이 맛있고 음식이 친절해요!</p>
                </div>
            </div>
            <div class="map-card__comment-wrapper">
                <div class="map-card__user-wrapper">
                    <span class="map-card__user">사용자1</span><span class="map-card__user-eva">★★★★★</span>
                </div>
                <div class="map-card__comment">
                    <p>사장님이 맛있고 음식이 친절해요!</p>
                </div>
            </div>
            <div class="map-card__create-comment"><a href="" target="_blank">댓글 작성하러 가기 ▶</a></div>
        </div>
        <div id="info">
            <div class="map-card__title">정보</div>
            <div class="map-card__info-wrapper">
                <span>주소</span> : 대한민국 서울특별시 구로구 경인로47길 26 백소정 동양미래대점 2층
            </div>
            <div class="map-card__info-wrapper">
                <span>전화번호</span> : 02-2039-9532
            </div>
            <div class="map-card__info-wrapper">
                <span>영업시간</span> : 11:00 - 21:30
            </div>
            <div class="map-card__info-wrapper">
                <span>SNS</span> : <a href="https://baeksojeong.com/">https://baeksojeong.com/</a>
            </div>
        </div>
    </div>
    <script>
        function activeMenu(event){
            var menu = document.getElementsByClassName("map-card__menu");
            console.log(menu);
            for(var i = 0; i < 3; i++){
                console.log(menu[i]);
                menu[i].classList.remove("active");
            }
            event.target.classList.add("active");
        }

    </script>
</body>
</html>