<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../styles/map-card.css">
</head>
<body>
    <div class="map-card__contnet-wrapper">
        <div class="map-card__image-wrapper">
            <a href="./data7-detail.html#image-modal" class="map-card__hover-text" target="_blank">
                클릭하여 자세히 보기
            </a>
            <img class="map-card__image" src="../../assets/data7-1.jpg" alt="">
        </div>
        <h1>세븐일레븐 고척점</h1>
        <div class="map-card__user-eva">★★★☆☆</div><div class="map-card__user-eva-number">3.0</div>
        <div class="map-card__menu-wrapper">
            <a href="#summary" class="map-card__menu active" onclick="activeMenu(event)">개요</a>
            <a href="#comment" class="map-card__menu" onclick="activeMenu(event)">댓글</a>
            <a href="#info" class="map-card__menu" onclick="activeMenu(event)">정보</a>
        </div>
        <div class="map-card__func-btns-wrapper">
            <div class="map-card__share-btn-wrapper map-card__func-btn-wrapper">
                <button type="button"><img src="../../assets/share mark.png" alt=""></button>
                <div>공유</div>
            </div>
            <div class="map-card__restore-btn-wrapper map-card__func-btn-wrapper">
                <button type="button"><img src="../../assets/restore mark.png" alt=""></button>
                <div>저장</div>
            </div>
        </div>
        <div id="summary">
            <div class="map-card__title">개요</div>
            <p>
                세븐일레븐은 다양한 물품들을 파는 편의점입니다.<br>
                삼각김밥, 라면과 같은 음식들을 팔기 때문에 가성비 있게 음식을 먹을 수 있고 매일 열려 있기 때문에 급하게 물건을 살 필요가 있을때 오셔서 사도 괜찮습니다.
            </p>
        </div>
        <div id="comment">
            <div class="map-card__title">댓글</div>
            <div class="map-card__comment-wrapper">
                <div class="map-card__user-wrapper">
                    <span class="map-card__user">pomiqe</span><span class="map-card__user-eva">★★★☆☆</span>
                </div>
                <div class="map-card__comment">
                    <p>다양한 상품들이 있어서 좋았습니다.</p>
                </div>
            </div>
            <div class="map-card__comment-wrapper">
                <div class="map-card__user-wrapper">
                    <span class="map-card__user">zxmwaoiw</span><span class="map-card__user-eva">★★★★★</span>
                </div>
                <div class="map-card__comment">
                    <p>늦게까지 열려있어서 필요할 때 쓸 수 있어서 좋았습니다.</p>
                </div>
            </div>
            <div class="map-card__create-comment"><a href="./data7-detail.html#input-form" target="_blank">댓글 작성하러 가기 ▶</a></div>
        </div>
        <div id="info">
            <div class="map-card__title">정보</div>
            <div class="map-card__info-wrapper">
                <span>주소</span> : 대한민국 서울특별시 구로구 경인로47길 45 
            </div>
            <div class="map-card__info-wrapper">
                <span>전화번호</span> : 02-2618-4089
            </div>
            <div class="map-card__info-wrapper">
                <span>영업시간</span> : 00:00 - 24:00
            </div>
            <div class="map-card__info-wrapper">
                <span>SNS</span> : <a href="http://www.7-eleven.co.kr/">http://www.7-eleven.co.kr/</a>
            </div>
        </div>
    </div>
    <script>
        function activeMenu(event){
            var menu = document.getElementsByClassName("map-card__menu");
            console.log(menu);
            for(var i = 0; i < 3; i++){
                console.log(menu[i]);
                menu[i].classList.remove("active");
            }
            event.target.classList.add("active");
        }

    </script>
</body>
</html>