<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" href="../../assets/icon.png"/>
    <link rel="apple-touch-icon" href="../../assets/icon.png"/>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detail Page</title>
    <link rel="stylesheet" href="../../styles/detail.css">
    <link rel="stylesheet" href="../../styles/default.css">
    <link rel="stylesheet" href="../../styles/header.css">
    <link rel="stylesheet" href="../../styles/footer.css">
</head>
<body>
    <div class="content-wrapper">
        <!--header section-->
        <header class="header__wrapper">
            <div class="header__left-wrapper">
                <div class="header__logo"><a href="../../pages/main-page.html">DMUinfo</a></div>
                <nav class="header__nav-bar">
                    <ul>
                        <li><a class="header__btn" href="../../pages/map-page.html">지도 보기</a></li>
                        <li><a class="header__btn" href="../../pages/collection-page.html">모아 보기</a></li>
                        <li><a class="header__btn" href="../../pages/thread-page.html">게시판 보기</a></li>
                    </ul>
                </nav>
            </div>
            <nav class="header__nav-bar">
                <ul class="header__sign-section">
                    <a class="header__btn " href="../../pages/signin-page.html">로그인</a>
                    <a class="header__btn colored-button" href="../../pages/signup-page1.html">회원 가입</a>
                </ul>
            </nav>
        </header>
        <div class="detail__content">
            <!--main section-->
            <main>
                <div class="detail__title">
                    <p>백남옥 손만두<span>맛집</span><span class="detail__avg-eva">★★★★☆</span>
                </div>
                <hr class="detail__hr">
                <div class="detail__title-area">
                    <p>작성자 aedfcw</p>
                </div>
                <div class="detail__info-area">
                    <img src="../../assets/location.png" alt="location"><p>&nbsp;주소: 서울 구로구 경인로 433-1</p>
                    <img src="../../assets/calendar.png" alt="calendar"><p>&nbsp;영업시간: 월~금: 10:00 ~ 22:30 / 토: 09:00 ~ 22:30 / 일: 13:00 ~ 22:00</p>
                </div>
                <div class="detail__main-content">
                    <figure class="detail__image-area">
                        <a href="#image-modal" class="detail__hover-text" target="_self">
                            클릭하여 자세히 보기
                        </a>
                        <figcaption>이미지</figcaption>
                        <img src="../../assets/data11-1.jpg">
                    </figure>
                    <div class="detail__text-area">
                        <p>백남옥손만두는 다양한 만두들을 파는 가게입니다.
                            다양한 만두들을 팔기 때문에 입맛에 맞게 먹을 수 있습니다.
                            근처에 고척구장이 있기 때문에 야구장에 들고 가서 먹기에 적합합니다. 
                            투명한 감자만두피가 말랑하고 쫀득해서 먹기에 좋습니다.
                            사장님께서 친절하셔서 편하게 주문하시면 좋을 것 같습니다.                                                        
                            </p>
                    </div>
                    <div class="detail__map-frame-wrapper">
                        <div class="detail__map-frame-title">지도 정보</div>
                        <iframe src=""></iframe>
                    </div>
                </div>
                <div class="detail__comments-wrapper">
                    <h3>댓글</h3>
                    <div class="detail__comment-wrapper">
                        <div class="detail__user-wrapper">
                            <img src="../../assets/anonymous.png" class="detail__user-profile"><span class="detail__user">winowml</span><span class="detail__user-eva">★★★★★</span>
                        </div>
                        <div class="detail__comment">
                            <p>고척야구장에 오면 들르는 만두집입니다. 맛난만큼 인기 좋은 집입니다.</p>
                        </div>
                    </div>
                    <div class="detail__comment-wrapper">
                        <div class="detail__user-wrapper">
                            <img src="../../assets/anonymous.png" class="detail__user-profile"><span class="detail__user">wwmwornb</span><span class="detail__user-eva">★★★★★</span>
                        </div>
                        <div class="detail__comment">
                            <p>달인의 손맛을 느껴보려, 기나긴 줄도 감수하고 구입. 역시나 맛있었습니다.</p>
                        </div>
                    </div>
                    <form action="" id="input-form">
                        <div class="detail__input-comment">
                            <textarea placeholder="여기에 댓글을 입력" ></textarea>
                            <div class="detail__submit-wrapper">
                                <input type="radio" class="detail__submit-eva" name="eva" value="1">
                                <input type="radio" class="detail__submit-eva" name="eva" value="2">
                                <input type="radio" class="detail__submit-eva" name="eva" value="3" checked>
                                <input type="radio" class="detail__submit-eva" name="eva" value="4">
                                <input type="radio" class="detail__submit-eva" name="eva" value="5">
                                <button type="submit" class="detail__submit-btn colored-button">제출하기</button>
                            </div>
                        </div>
                    </form>
                </div>
            </main>
        </div>
    </div>
    <!--image modal section-->
    <div id="image-modal" class="detail__image-modal">
        <div class="detail__image-modal-dialog">
            <div class="detail__image-modal-content">
                <div class="detail__image-modal-header">백남옥 손만두 이미지</div>
                <div class="detail__slider">
                    <input type="radio" name="slider" checked>
                    <input type="radio" name="slider">
                    <!-- <input type="radio" name="slider">
                    <input type="radio" name="slider">
                    <input type="radio" name="slider"> -->
                    <figure>
                        <img src="../../assets/data11-1.jpg" alt="">
                        <img src="../../assets/data11-2.jpg" alt="">
                    </figure>
                </div>
                <a href="#" class="detail__image-modal-closebtn">×</a>
          </div>
        </div>
      </div>
    <!--footer section-->
    <footer>
        <div class="footer__lc">
            <div class="footer__flogo">
                <a href="../../pages/main-page.html">DMUinfo</a>
            </div>
            <div class="footer__contents-wrapper">
                <ul class="footer__nav-bar">
                    <li><a class="footer__nav-link" href="../../components/data/thread4-detail.html">이용약관</a></li>
                    <li><a class="footer__nav-link" href="../../components/data/thread2-detail.html">개인정보처리방침</a></li>
                    <li><a class="footer__nav-link" href="../../components/data/thread3-detail.html">운영정책</a></li>
                    <li><a class="footer__nav-link" href="../../components/data/thread1-detail.html">공지사항</a></li>
                    <li><a class="footer__nav-link" href="#">Contact Us</a></li>
                </ul>
                <div class="footer__copyright">ⓒ 2024 동양미래대학교 컴퓨터소프트웨어공학 Team 6 All Right Reserved.</div>
            </div>
        </div>

        <div class="footer__st">
            <div class="footer__menu">
                <h3 class="footer__shortcut">
                    메뉴 바로가기
                </h3>
                <a class="footer__bogie" href="../../pages/map-page.html">지도 보기</a>
                <a class="footer__bogie" href="../../pages/collection-page.html">모아 보기</a>
                <a class="footer__bogie" href="../../pages/thread-page.html">게시판 보기</a>
            </div>
            <div class="footer__team">
                <h3 class="footer__teamtitle">team 6</h3>
                <div class="footer__name">
                    <p>정진오 sample123@gmail.com</p>
                    <p>박근우 sample123@gmail.com</p>
                    <p>박성환 sample123@gmail.com</p>
                    <p>서지연 sample123@gmail.com</p>
                    <p>이재민 sample123@gmail.com</p>
                    <p>이나연 sample123@gmail.com</p>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>