<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../styles/map-card.css">
</head>
<body>
    <div class="map-card__contnet-wrapper">
        <div class="map-card__image-wrapper">
            <a href="./data6-detail.html#image-modal" class="map-card__hover-text" target="_blank">
                클릭하여 자세히 보기
            </a>
            <img class="map-card__image" src="../../assets/data6-1.jpg" alt="">
        </div>
        <h1>메가MGC커피 고척중앙점</h1>
        <div class="map-card__user-eva">★★★★☆</div><div class="map-card__user-eva-number">4.0</div>
        <div class="map-card__menu-wrapper">
            <a href="#summary" class="map-card__menu active" onclick="activeMenu(event)">개요</a>
            <a href="#comment" class="map-card__menu" onclick="activeMenu(event)">댓글</a>
            <a href="#info" class="map-card__menu" onclick="activeMenu(event)">정보</a>
        </div>
        <div class="map-card__func-btns-wrapper">
            <div class="map-card__share-btn-wrapper map-card__func-btn-wrapper">
                <button type="button"><img src="../../assets/share mark.png" alt=""></button>
                <div>공유</div>
            </div>
            <div class="map-card__restore-btn-wrapper map-card__func-btn-wrapper">
                <button type="button"><img src="../../assets/restore mark.png" alt=""></button>
                <div>저장</div>
            </div>
        </div>
        <div id="summary">
            <div class="map-card__title">개요</div>
            <p>
                메가 MGC커피는 다양한 커피나 차를 팔고 있는 커피 전문점입니다.<br>
                메가커피에서는 커피 뿐 만 아니라 차, 프라페 그리고 쿠키와 같은 디저트 음식들을 팔고 있습니다.<br>
                아이스 아메리카노가 2000원인 만큼 가격 가성비가 좋고 양도 꽤 많이 있어서 마시는데 양이 부족하지 않습니다. 가게 건물이 꽤 커서 사람들을 데리고 대화화는 장소로 사용하기에도 좋습니다.
            </p>
        </div>
        <div id="comment">
            <div class="map-card__title">댓글</div>
            <div class="map-card__comment-wrapper">
                <div class="map-card__user-wrapper">
                    <span class="map-card__user">qowjniu</span><span class="map-card__user-eva">★★★★★</span>
                </div>
                <div class="map-card__comment">
                    <p>손님이 많아서 오래 걸리는 김에 매장 안도 구경하게 되었습니다. 디저트류도 팔아서 디저트류도 먹어보고 싶네요.</p>
                </div>
            </div>
            <div class="map-card__comment-wrapper">
                <div class="map-card__user-wrapper">
                    <span class="map-card__user">plokmi</span><span class="map-card__user-eva">★★★★★</span>
                </div>
                <div class="map-card__comment">
                    <p>강아지와 산책코스 중에 들러요. 키오스크가 있어 들어가지 않아도 되어서 좋네요.</p>
                </div>
            </div>
            <div class="map-card__create-comment"><a href="./data6-detail.html#input-form" target="_blank">댓글 작성하러 가기 ▶</a></div>
        </div>
        <div id="info">
            <div class="map-card__title">정보</div>
            <div class="map-card__info-wrapper">
                <span>주소</span> : 대한민국 서울특별시 구로구 경인로 403 A동 101호
            </div>
            <div class="map-card__info-wrapper">
                <span>전화번호</span> : 0507-1421-7843
            </div>
            <div class="map-card__info-wrapper">
                <span>영업시간</span> : 매일 08:00 - 23:00 / 22:30 라스트오더
            </div>
            <div class="map-card__info-wrapper">
                <span>SNS</span> : <a href="https://www.instagram.com/mega.mgc.coffee_official/">https://www.instagram.com/mega.mgc.coffee_official/</a>
            </div>
        </div>
    </div>
    <script>
        function activeMenu(event){
            var menu = document.getElementsByClassName("map-card__menu");
            console.log(menu);
            for(var i = 0; i < 3; i++){
                console.log(menu[i]);
                menu[i].classList.remove("active");
            }
            event.target.classList.add("active");
        }

    </script>
</body>
</html>