<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../styles/map-card.css">
</head>
<body>
    <div class="map-card__contnet-wrapper">
        <div class="map-card__image-wrapper">
            <a href="./data4-detail.html#image-modal" class="map-card__hover-text" target="_blank">
                클릭하여 자세히 보기
            </a>
            <img class="map-card__image" src="../../assets/data4-1.jpg" alt="">
        </div>
        <h1>최고당 돈까스</h1>
        <div class="map-card__user-eva">★★★★☆</div><div class="map-card__user-eva-number">4.0</div>
        <div class="map-card__menu-wrapper">
            <a href="#summary" class="map-card__menu active" onclick="activeMenu(event)">개요</a>
            <a href="#comment" class="map-card__menu" onclick="activeMenu(event)">댓글</a>
            <a href="#info" class="map-card__menu" onclick="activeMenu(event)">정보</a>
        </div>
        <div class="map-card__func-btns-wrapper">
            <div class="map-card__share-btn-wrapper map-card__func-btn-wrapper">
                <button type="button"><img src="../../assets/share mark.png" alt=""></button>
                <div>공유</div>
            </div>
            <div class="map-card__restore-btn-wrapper map-card__func-btn-wrapper">
                <button type="button"><img src="../../assets/restore mark.png" alt=""></button>
                <div>저장</div>
            </div>
        </div>
        <div id="summary">
            <div class="map-card__title">개요</div>
            <p>
             최고당 돈까스는 돈까스를 위주로 파는 가게입니다. <br>
             매장 내부가 깔끔하고 냄새없이 바삭하게 나오는 것이 특징이고, 소스가 두개로 다르게 나오기 때문에 다른 맛으로 먹을 수 있는 장점이 있습니다.<br>
             또한 냉면도 소스가 따로 나와서 물냉면/불냉면으로 다르게 먹을 수 있고 맛있게 먹을 수 있습니다.
            </p>
        </div>
        <div id="comment">
            <div class="map-card__title">댓글</div>
            <div class="map-card__comment-wrapper">
                <div class="map-card__user-wrapper">
                    <span class="map-card__user">qwipe</span><span class="map-card__user-eva">★★★★★</span>
                </div>
                <div class="map-card__comment">
                    <p>안심까스가 맛있어요. 세트메뉴로 돈코츠라멘이 새로 생겨서 먹어봤는데 엄청 배불렀습니다.</p>
                </div>
            </div>
            <div class="map-card__comment-wrapper">
                <div class="map-card__user-wrapper">
                    <span class="map-card__user">pefkmf</span><span class="map-card__user-eva">★★★★★</span>
                </div>
                <div class="map-card__comment">
                    <p>냄새없이 바삭하고 맛나요. 소스를 두 개 나누어 주셔서 다른 맛 다른 매력 느낄 수 있습니다.</p>
                </div>
            </div>
            <div class="map-card__create-comment"><a href="./data4-detail.html#input-form" target="_blank">댓글 작성하러 가기 ▶</a></div>
        </div>
        <div id="info">
            <div class="map-card__title">정보</div>
            <div class="map-card__info-wrapper">
                <span>주소</span> : 대한민국 서울특별시 구로구 경인로47길 44-1 1층 최고당돈까스 고척돔점
            </div>
            <div class="map-card__info-wrapper">
                <span>전화번호</span> : 02-2685-0707
            </div>
            <div class="map-card__info-wrapper">
                <span>영업시간</span> : 매일 11:00 - 21:00 / 20:30 라스트오더
            </div>
            <div class="map-card__info-wrapper">
                <span>SNS</span> : <a href="http://www.choigodang.co.kr/">http://www.choigodang.co.kr/</a>
            </div>
        </div>
    </div>
    <script>
        function activeMenu(event){
            var menu = document.getElementsByClassName("map-card__menu");
            console.log(menu);
            for(var i = 0; i < 3; i++){
                console.log(menu[i]);
                menu[i].classList.remove("active");
            }
            event.target.classList.add("active");
        }

    </script>
</body>
</html>