<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../styles/map-card.css">
</head>
<body>
    <div class="map-card__contnet-wrapper">
        <div class="map-card__image-wrapper">
            <a href="./data1-detail.html#image-modal" class="map-card__hover-text" target="_blank">
                클릭하여 자세히 보기
            </a>
            <img class="map-card__image" src="../../assets/data1-1.jpg" alt="">
        </div>
        <h1>역전할머니맥주</h1>
        <div class="map-card__user-eva">★★★★☆</div><div class="map-card__user-eva-number">4.0</div>
        <div class="map-card__menu-wrapper">
            <a href="#summary" class="map-card__menu active" onclick="activeMenu(event)">개요</a>
            <a href="#comment" class="map-card__menu" onclick="activeMenu(event)">댓글</a>
            <a href="#info" class="map-card__menu" onclick="activeMenu(event)">정보</a>
        </div>
        <div class="map-card__func-btns-wrapper">
            <div class="map-card__share-btn-wrapper map-card__func-btn-wrapper">
                <button type="button"><img src="../../assets/share mark.png" alt=""></button>
                <div>공유</div>
            </div>
            <div class="map-card__restore-btn-wrapper map-card__func-btn-wrapper">
                <button type="button"><img src="../../assets/restore mark.png" alt=""></button>
                <div>저장</div>
            </div>
        </div>
        <div id="summary">
            <div class="map-card__title">개요</div>
            <p>
                역전할머니맥주 고척점은 고척돔 앞에 있는 주점이고 오후 5시에 오픈하고 새벽 3시쯤에 문을 닫는다고 합니다.<br>
                또한 역전 할맥의 맥주는 잔이 얼어서 나오기 때문에 아주 차가워서 마시기 좋고 안주들이 가성비가 좋습니다.<br>
                음식들 중 치즈라볶이, 치즈롤까스 등이 맛있었고 순살 치킨이랑 감자, 고구마가 바싹 구워서 나와서 씹는 맛이 좋고, 직원분들이 친절했지만 분위기가 시끌벅적한 분위기이기 때문에 조용한 것을 좋아하시는 분들께는 가기 힘든 장소일 수도 있습니다.
            </p>
        </div>
        <div id="comment">
            <div class="map-card__title">댓글</div>
            <div class="map-card__comment-wrapper">
                <div class="map-card__user-wrapper">
                    <span class="map-card__user">volwe</span><span class="map-card__user-eva">★★★★★</span>
                </div>
                <div class="map-card__comment">
                    <p>간단히 가기 좋았습니다! 직원분들도 친절하셨구요<!DOCTYPE html></p>
                </div>
            </div>
            <div class="map-card__comment-wrapper">
                <div class="map-card__user-wrapper">
                    <span class="map-card__user">wmlak</span><span class="map-card__user-eva">★★★★★</span>
                </div>
                <div class="map-card__comment">
                    <p>아이스 맥주와 짬뽕, 돈까스가 넘넘 맛있어요~~ 잔이 얼어서 소맥했더니 더 맛있어 보여요~</p>
                </div>
            </div>
            <div class="map-card__create-comment"><a href="./data1-detail.html#input-form" target="_blank">댓글 작성하러 가기 ▶</a></div>
        </div>
        <div id="info">
            <div class="map-card__title">정보</div>
            <div class="map-card__info-wrapper">
                <span>주소</span> : 대한민국 서울특별시 구로구 경인로47길 27 1층 역전할머니맥주
            </div>
            <div class="map-card__info-wrapper">
                <span>전화번호</span> : 02-2688-2579
            </div>
            <div class="map-card__info-wrapper">
                <span>영업시간</span> : 매일 17:00 - 03:00
            </div>
            <div class="map-card__info-wrapper">
                <span>SNS</span> : <a href=""></a>
            </div>
        </div>
    </div>
    <script>
        function activeMenu(event){
            var menu = document.getElementsByClassName("map-card__menu");
            console.log(menu);
            for(var i = 0; i < 3; i++){
                console.log(menu[i]);
                menu[i].classList.remove("active");
            }
            event.target.classList.add("active");
        }

    </script>
</body>
</html>