<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detail Page</title>
    <link rel="stylesheet" href="../../styles/detail.css">
    <link rel="stylesheet" href="../../styles/default.css">
    <link rel="stylesheet" href="../../styles/header.css">
    <link rel="stylesheet" href="../../styles/footer.css">
</head>
<body>
    <div class="content-wrapper">
        <!--header section-->
        <header class="header__wrapper">
            <div class="header__left-wrapper">
                <div class="header__logo"><a href="../../pages/main-page.html">DMUinfo</a></div>
                <nav class="header__nav-bar">
                    <ul>
                        <li><a class="header__btn" href="../../pages/map-page.html">지도 보기</a></li>
                        <li><a class="header__btn" href="../../pages/collection-page.html">모아 보기</a></li>
                        <li><a class="header__btn" href="../../pages/thread-page.html">게시판 보기</a></li>
                    </ul>
                </nav>
            </div>
            <nav class="header__nav-bar">
                <ul class="header__sign-section">
                    <a class="header__btn " href="../../pages/signin-page.html">로그인</a>
                    <a class="header__btn colored-button" href="../../pages/signup-page1.html">회원 가입</a>
                </ul>
            </nav>
        </header>
        <div class="detail__content">
            <!--main section-->
            <main>
                <div class="detail__title">
                    <p>세븐일레븐 고척점<span>편의시설</span><span class="detail__avg-eva">★★★☆☆</span>
                </div>
                <hr class="detail__hr">
                <div class="detail__title-area">
                    <p>작성자 park</p>
                </div>
                <div class="detail__info-area">
                    <img src="../../assets/location.png" alt="location"><p>&nbsp;주소: 서울 구로구 경인로47길 45</p>
                    <img src="../../assets/tel.png" alt="tel"><p>&nbsp;번호: 02-2618-4089</p>
                    <img src="../../assets/calendar.png" alt="calendar"><p>&nbsp;영업시간: 매일</p>
                </div>
                <div class="detail__main-content">
                    <figure class="detail__image-area">
                        <a href="#image-modal" class="detail__hover-text" target="_self">
                            클릭하여 자세히 보기
                        </a>
                        <figcaption>이미지</figcaption>
                        <img src="../../assets/data7-1.jpg">
                    </figure>
                    <div class="detail__text-area">
                        <p>세븐일레븐은 다양한 물품들을 파는 편의점입니다.
                            삼각김밥, 라면과 같은 음식들을 팔기 때문에 가성비 있게 음식을 먹을 수 있고
                            매일 열려 있기 때문에 급하게 물건을 살 필요가 있을때 오셔서 사도 괜찮습니다.
                            </p>
                    </div>
                    <div class="detail__map-frame-wrapper">
                        <div class="detail__map-frame-title">지도 정보</div>
                        <iframe src=""></iframe>
                    </div>
                </div>
                <div class="detail__comments-wrapper">
                    <h3>댓글</h3>
                    <div class="detail__comment-wrapper">
                        <div class="detail__user-wrapper">
                            <img src="../../assets/anonymous.png" class="detail__user-profile"><span class="detail__user">pomiqe</span><span class="detail__user-eva">★★★☆☆</span>
                        </div>
                        <div class="detail__comment">
                            <p>다양한 상품들이 있어서 좋았습니다.</p>
                        </div>
                    </div>
                    <div class="detail__comment-wrapper">
                        <div class="detail__user-wrapper">
                            <img src="../../assets/anonymous.png" class="detail__user-profile"><span class="detail__user">zxmwaoiw</span><span class="detail__user-eva">★★★★★</span>
                        </div>
                        <div class="detail__comment">
                            <p>늦게까지 열려있어서 필요할 때 쓸 수 있어서 좋았습니다.</p>
                        </div>
                    </div>
                    <form action="" id="input-form">
                        <div class="detail__input-comment">
                            <textarea placeholder="여기에 댓글을 입력" ></textarea>
                            <div class="detail__submit-wrapper">
                                <input type="radio" class="detail__submit-eva" name="eva" value="1">
                                <input type="radio" class="detail__submit-eva" name="eva" value="2">
                                <input type="radio" class="detail__submit-eva" name="eva" value="3" checked>
                                <input type="radio" class="detail__submit-eva" name="eva" value="4">
                                <input type="radio" class="detail__submit-eva" name="eva" value="5">
                                <button type="submit" class="detail__submit-btn colored-button">제출하기</button>
                            </div>
                        </div>
                    </form>
                </div>
            </main>
        </div>
    </div>
    <!--image modal section-->
    <div id="image-modal" class="detail__image-modal">
        <div class="detail__image-modal-dialog">
            <div class="detail__image-modal-content">
                <div class="detail__image-modal-header">세븐일레븐 고척점 이미지</div>
                <div class="detail__slider">
                    <input type="radio" name="slider" checked>
                    <input type="radio" name="slider">
                    <!-- <input type="radio" name="slider">
                    <input type="radio" name="slider">
                    <input type="radio" name="slider"> -->
                    <figure>
                        <img src="../../assets/data7-1.jpg" alt="">
                        <img src="../../assets/data7-2.jpg" alt="">
                    </figure>
                </div>
                <a href="#" class="detail__image-modal-closebtn">×</a>
          </div>
        </div>
      </div>
    <!--footer section-->
    <footer>
        <div class="footer__lc">
            <div class="footer__flogo">
                <a href="../../pages/main-page.html">DMUinfo</a>
            </div>
            <div class="footer__contents-wrapper">
                <ul class="footer__nav-bar">
                    <li><a class="footer__nav-link" href="../../components/data/thread4-detail.html">이용약관</a></li>
                    <li><a class="footer__nav-link" href="../../components/data/thread2-detail.html">개인정보처리방침</a></li>
                    <li><a class="footer__nav-link" href="../../components/data/thread3-detail.html">운영정책</a></li>
                    <li><a class="footer__nav-link" href="../../components/data/thread1-detail.html">공지사항</a></li>
                    <li><a class="footer__nav-link" href="#">Contact Us</a></li>
                </ul>
                <div class="footer__copyright">ⓒ 2024 동양미래대학교 컴퓨터소프트웨어공학 Team 6 All Right Reserved.</div>
            </div>
        </div>

        <div class="footer__st">
            <div class="footer__menu">
                <h3 class="footer__shortcut">
                    메뉴 바로가기
                </h3>
                <a class="footer__bogie" href="../../pages/main-page.html">지도 보기</a>
                <a class="footer__bogie" href="../../pages/collection-page.html">모아 보기</a>
                <a class="footer__bogie" href="../../pages/thread-page.html">게시판 보기</a>
            </div>
            <div class="footer__team">
                <h3 class="footer__teamtitle">team 6</h3>
                <div class="footer__name">
                    <p>정진오 sample123@gmail.com</p>
                    <p>박근우 sample123@gmail.com</p>
                    <p>박성환 sample123@gmail.com</p>
                    <p>서지연 sample123@gmail.com</p>
                    <p>이재민 sample123@gmail.com</p>
                    <p>이나연 sample123@gmail.com</p>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>