<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .wrapper{
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: 90vh;
            text-align: center;
        }
        .wrapper div{
            font-size: 4vw;
            font-weight: bold;
            text-align: center;
        }
        .wrapper img{
            margin: 0 auto;
            margin-top: 5vh;
            width: 20vw;
        }
    </style>
</head>
<body>
    <div class="wrapper">
        <div>현재 선택된 데이터가 존재하지 않습니다.</div>
        <img src="../../assets/exclamation mark.png">
    </div>
</body>
</html>