<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>자유</title>
    <link rel="stylesheet" href="../../styles/thread-detail.css">
    <link rel="stylesheet" href="../../styles/detail.css">
    <link rel="stylesheet" href="../../styles/footer.css">
    <link rel="stylesheet" href="../../styles/header.css">
    <link rel="stylesheet" href="../../styles/default.css">
</head>
<body style="background-color: #F0F0F0;">
    <div class="content-wrapper">
        <!--header section-->
        <header class="header__wrapper">
            <div class="header__left-wrapper">
                <div class="header__logo"><a href="../../pages/main-page.html">DMUinfo</a></div>
                <nav class="header__nav-bar">
                    <ul>
                        <li><a class="header__btn" href="../../pages/map-page.html">지도 보기</a></li>
                        <li><a class="header__btn" href="../../pages/collection-page.html">모아 보기</a></li>
                        <li><a class="header__btn" href="../../pages/thread-page.html">게시판 보기</a></li>
                    </ul>
                </nav>
            </div>
            <nav class="header__nav-bar">
                <ul class="header__sign-section">
                    <a class="header__btn " href="../../pages/signin-page.html">로그인</a>
                    <a class="header__btn colored-button" href="../../pages/signup-page1.html">회원 가입</a>
                </ul>
            </nav>
        </header>
        <div class="page__content-section">
            <a href="../../pages/thread-page.html" class="page__a">◁ 게시판으로 돌아가기</a>
            <div class="page__head">
                    사이트 망한거 같으면 개추 ㅋㅋ
                <sup class="page__sup page__type2">
                    자유
                </sup>
            </div>
            <hr class="page__hr">
            <div class="page__writer">
                글쓴이|wjdns
            </div>
            <div class="page__body-text">
        <pre class="page__pre">
        일단 나부터 ㅋㅋ
        </pre>
            </div>
            <div class="detail__comments-wrapper">
                <h3>댓글</h3>
            <div class="detail__comment-wrapper">
                <div class="detail__user-wrapper">
                    <img src="../../assets/anonymous.png" class="detail__user-profile"><div class="detail__user">zzz</div>
                </div>
                <div class="detail__comment">
                    <p>ㅋㅋㅋㅋㅋㅋㅋㅋ</p>
                </div>
            </div>
            <div class="detail__comment-wrapper">
                <div class="detail__user-wrapper">
                    <img src="../../assets/anonymous.png" class="detail__user-profile"><div class="detail__user">skrrrr</div>
                </div>
                <div class="detail__comment">
                    <p>스껄할래?🥵🥵🥵</p>
                </div>
            </div>
            </div>
        </div>
    </div>
        <!--footer section-->
    <footer>
        <div class="footer__lc">
            <div class="footer__flogo">
                <a href="../../pages/main-page.html">DMUinfo</a>
            </div>
            <div class="footer__contents-wrapper">
                <ul class="footer__nav-bar">
                    <li><a class="footer__nav-link" href="../../components/data/thread4-detail.html">이용약관</a></li>
                    <li><a class="footer__nav-link" href="../../components/data/thread2-detail.html">개인정보처리방침</a></li>
                    <li><a class="footer__nav-link" href="../../components/data/thread3-detail.html">운영정책</a></li>
                    <li><a class="footer__nav-link" href="../../components/data/thread1-detail.html">공지사항</a></li>
                    <li><a class="footer__nav-link" href="#">Contact Us</a></li>
                </ul>
                <div class="footer__copyright">ⓒ 2024 동양미래대학교 컴퓨터소프트웨어공학 Team 6 All Right Reserved.</div>
            </div>
        </div>

        <div class="footer__st">
            <div class="footer__menu">
                <h3 class="footer__shortcut">
                    메뉴 바로가기
                </h3>
                <a class="footer__bogie" href="../../pages/main-page.html">지도 보기</a>
                <a class="footer__bogie" href="../../pages/collection-page.html">모아 보기</a>
                <a class="footer__bogie" href="../../pages/thread-page.html">게시판 보기</a>
            </div>
            <div class="footer__team">
                <h3 class="footer__teamtitle">team 6</h3>
                <div class="footer__name">
                    <p>정진오 sample123@gmail.com</p>
                    <p>박근우 sample123@gmail.com</p>
                    <p>박성환 sample123@gmail.com</p>
                    <p>서지연 sample123@gmail.com</p>
                    <p>이재민 sample123@gmail.com</p>
                    <p>이나연 sample123@gmail.com</p>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>