/* width */
::-webkit-scrollbar {
    width: 5px;
}
/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
/* Handle */
::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: #999;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #888;
}

*{
    font-family: "notosans";
    color: #333;
}

html{
    padding: 0;
}

body{
    box-sizing: border-box;
    overflow-x: hidden;
    height: 100vh;
    padding-top: 7vh;
    margin: 0;
}
.content-wrapper{
    min-height: 100%;
    padding-bottom: 25vh;
}

.colored-button{
    display: inline;
    color: white ;
    background-color: #7E8BFF ;
    padding: 1.2vh .6vw ;
    border-radius: .6vw ;
    font-size: .8vw ;
    border: 0;
    text-decoration: none;
}
.colored-button:hover{
    transition: .3s;
    -webkit-transition: .3s;
    cursor: pointer;
    background-color: #4B4FFF;
}

@font-face {
    font-family: 'yg-jalnan';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'notosans';
    src : url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');
}