* {
    margin: 0;
    padding: 0;
    align-items: center;
}


body {
    background-color: #D9D9D9;
    font-family: "Arial", sans-serif;
    line-height: 1.6;
}

.detail__content {
    width: 80vw;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 7vw;
    height: auto;
    background-color: white;
}

.detail__title p {
    font-size: 1.5vw;
    font-weight: bold;
    margin-bottom: 1vh;
}

.detail__title span {
    font-size: 1vw;
    font-weight: normal;
    color: #666;
    margin-left: .5vw;
}

.detail__title img{
    width: 100px;
    height: auto;
    margin-left: 30px;
}

.detail__title-area p {
    font-size: 1vw;
}

.detail__image-area{
    display: flex;
    justify-content: space-around;
    margin: 5vh 0;
}

/* img, iframe 크기를 절대적으로 지정해줘서 웹 환경이 바뀌면 어색해짐. 어떻게하는지 모르겠음 ㅠ */
.detail__image-area img{
    width: 30vw;
    height: 35vh;
}

.detail__image-area iframe{
    width: 20vw;
    height: 20vw;
    border: none;
    background-color: #666;

}
.detail__text-area p{
    font-size: .8vw;
}

.detail__comments-wrapper{
    margin-top: 20vh;
}

.user{
    padding: 1vw;
    display: flex;
}

.detail__comment{
    height: 7.5vh;
    border-bottom: solid .1vw lightgray;
}

.detail__comments-wrapper textarea{
    width: 100%;
    height: 15vh;
    box-sizing: border-box;
    border: solid 1px lightgray;
    border-radius: 10px;
    padding: 2vh 1.5vw;
    font-family: Arial, Helvetica, sans-serif;
    resize: none;
}
.detail__comments-wrapper textarea:focus{
    outline: none;
}
.detail__comment-wrapper{
    margin: 2vh 0;
}
.detail__submit-wrapper{
    display: flex;
    justify-content: space-between;
}
.detail__submit-eva{
    display: inline-block;
}