* {
    margin: 0;
    padding: 0;
    align-items: center;
}


body {
    background-color: #EEE;
    font-family: "Arial", sans-serif;
    line-height: 1.6;
}

.detail__content {
    overflow: auto;
    width: 80vw;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 10vh 12.5vw;
    height: auto;
    background-color: white;
}
.detail__main-content{
    margin-top: 5vh;
}
.detail__title p {
    font-size: 1.5vw;
    font-weight: bold;
    margin-bottom: 1vh;
}

.detail__title span {
    font-size: 1vw;
    font-weight: normal;
    color: #666;
    margin-left: .5vw;
}

.detail__avg-eva{
    width: 100px;
    color: orange !important;
    height: auto;
    margin-left: 30px;
}

.detail__title-area p {
    margin-top: 1vh;
    font-size: 1vw;
}

.detail__hover-text{
    position: absolute;
    text-decoration: none;
    font-weight: 600;
    width: 100%;
    text-align: center;
    user-select: none;
    color: rgba(0, 0, 0, 0);
    background-color: rgba(0, 0, 0, 0);
    height: 100%;
    line-height: 25vh;
    left: 0;
    top: 0;
    padding: auto;
    margin: 0;
}
.detail__hover-text:hover{
    color: rgba(255, 255, 255, 1);
    background-color: rgba(0, 0, 0, .3);
}

.detail__image-area{
    position: relative;
    float: right;
    margin: 0 2vw;
    width: 30vw;
    height: 30vh;
    background-color: #7E8BFF;
    border: .1vw solid #7E8BFF;
}

.detail__image-area figcaption{
    height: 10%;
    font-weight: bold;
    font-size: .8vw;
    text-align: center;
    color: white;
}

/* img, iframe 크기를 절대적으로 지정해줘서 웹 환경이 바뀌면 어색해짐. 어떻게하는지 모르겠음 ㅠ */
.detail__image-area img{
    width: 100%;
    height: 90%;
}

.detail__image-area iframe{
    width: 20vw;
    height: 20vw;
    border: none;
    background-color: #666;

}
.detail__text-area p{
    text-align: justify;
    text-indent: 1vw;
    font-size: 1vw;
}
.detail__map-frame-wrapper{
    clear: both;
    margin-top: 10vh;
}
.detail__map-frame-title{
    font-size: 1.5vw;
    font-weight: bold;
    margin-bottom: 2vh;
}
.detail__map-frame-wrapper > iframe{
    width: 100%;
    height: 50vh;
}
.detail__comments-wrapper{
    margin-top: 20vh;
}
.detail__comments-wrapper > h3{
    font-size: 1.8vw;
}
.detail__user{
    font-size: 1.1vw;
}

.detail__user-eva{
    font-size: 1.2vw;
    color: orange;
    margin-left: 1vw;
}

.detail__comment{
    font-size: 1vw;
    height: 7.5vh;
    text-indent: 1vw;
    margin-top: 1vh;
}

.detail__comments-wrapper textarea{
    width: 100%;
    height: 15vh;
    box-sizing: border-box;
    border: solid 1px lightgray;
    border-radius: 1vw;
    padding: 2vh 1vw;
    font-family: Arial, Helvetica, sans-serif;
    resize: none;
}
.detail__comments-wrapper textarea:focus{
    outline: none;
}
.detail__comment-wrapper{
    margin: 2vh 0;
}
.detail__submit-wrapper{
    float: right;
}
.detail__submit-btn{
    margin-left: 1vw;
}
.detail__submit-eva{
    float: left;
    color: orange;
    appearance: none;
    font-size: 1.5vw;
    cursor: pointer;
}
.detail__submit-eva::after{
    content:"☆";
}
.detail__submit-eva:checked::after,
.detail__submit-eva:has(~.detail__submit-eva:checked)::after
{
    content:"★";
}


/* The modal's background */
.detail__image-modal {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 10;
}
/* Display the modal when targeted */
.detail__image-modal:target {
    display: block;
}
/* The modal box */
.detail__image-modal-dialog {
    display: flex;
    width: 100%;
    height: 100%;
    vertical-align: middle;
}
  /* The modal's content */
.detail__image-modal-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: auto;
    background-color: #333;
    position: relative;
    padding: 0;
    outline: 0;
    border: 1px #777 solid;
    width: 70%;
    height: 80%;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.detail__image-modal-header{
    display: block;
    box-sizing: border-box;
    width: 100%;
    height: 5vh;
    line-height: 5vh;
    padding-left: 1vw;
    text-align: left;
    margin-bottom: 5%;
    color: white;
    background-color: #000;
    font-weight: bold;
}
.detail__slider input[type=radio]{
    appearance: none;
    background-color: #fff;
    margin: 0;
    font: inherit;
    color: currentColor;
    width: 1.15em;
    height: 1.15em;
    border: 0.15em solid currentColor;
    border-radius: 50%;
    transform: translateY(-0.075em);
}
.detail__slider input[type=radio]:hover{
    cursor: pointer;
}
.detail__slider input[type=radio]:checked{
    background-color: #7E8BFF;
}
.detail__slider input[type=radio]~figure>img{
    display: none;
}
.detail__slider input[type=radio]:checked:nth-child(1)~figure>img:nth-child(1){
    display: inline-block;
}
.detail__slider input[type=radio]:checked:nth-child(2)~figure>img:nth-child(2){
    display: inline-block;
}
.detail__slider input[type=radio]:checked:nth-child(3)~figure>img:nth-child(3){
    display: inline-block;
}
.detail__slider input[type=radio]:checked:nth-child(4)~figure>img:nth-child(4){
    display: inline-block;
}
.detail__slider input[type=radio]:checked:nth-child(5)~figure>img:nth-child(5){
    display: inline-block;
}
.detail__slider{
    overflow: hidden;
    user-select: none;
    white-space: nowrap;
    width: 80%;
    height: 60%;
}
.detail__slider figure{
    margin-top: 2%;
}
.detail__slider figure img{
    -webkit-user-drag: none;
    display: inline-block;
    width: 80%;
    height: auto;
}
/* The button used to close the modal */
.detail__image-modal-closebtn {
    position: absolute;
    width: 2.5vw;
    height: 3rem;
    line-height: 3rem;
    top:-.5vh;
    right: 0;
    text-decoration: none;
    font-size: 2vw;
    font-weight: bold;
    color: #fff;
}
.detail__image-modal-closebtn:hover,
.detail__image-modalclosebtn:focus {
    color: #aaa;
    text-decoration: none;
    cursor: pointer;
}