* {
    margin: 0;
    padding: 0;
    align-items: center;
}


body {
    background-color: #D9D9D9;
    font-family: "Arial", sans-serif;
    line-height: 1.6;
}

.detail__content {
    width: 80vw;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 7vw;
    height: auto;
    background-color: white;
}
.detail__main-content{
    margin-top: 5vh;
}
.detail__title p {
    font-size: 2vw;
    font-weight: bold;
    margin-bottom: 1vh;
}

.detail__title span {
    font-size: 1.5vw;
    font-weight: normal;
    color: #666;
    margin-left: .5vw;
}

.detail__title img{
    width: 100px;
    height: auto;
    margin-left: 30px;
}

.detail__title-area p {
    font-size: 1.2vw;
}

.detail__image-area{
    float: right;
    margin: .5vh 1vw;
}

/* img, iframe 크기를 절대적으로 지정해줘서 웹 환경이 바뀌면 어색해짐. 어떻게하는지 모르겠음 ㅠ */
.detail__image-area img{
    width: 30vw;
    height: 35vh;
}

.detail__image-area iframe{
    width: 25vw;
    height: 25vw;
    border: none;
    background-color: #666;

}
.detail__text-area p{
    text-align: justify;
    text-indent: 1vw;
    font-size: 1.2vw;
}
.detail__map-frame-wrapper{
    clear: both;
    margin-top: 10vh;
}
.detail__map-frame-title{
    font-size: 1.5vw;
    font-weight: bold;
    margin-bottom: 2vh;
}
.detail__map-frame-wrapper > iframe{
    width: 100%;
    height: 50vh;
}
.detail__comments-wrapper{
    margin-top: 20vh;
}
.detail__comments-wrapper > h3{
    font-size: 1.8vw;
}
.detail__user{
    font-size: 1.1vw;
}

.detail__user-eva{
    font-size: 1.2vw;
    color: orange;
    margin-left: 1vw;
}

.detail__comment{
    font-size: 1vw;
    height: 7.5vh;
    text-indent: 1vw;
    margin-top: 1vh;
    border-bottom: solid .1vw lightgray;
}

.detail__comments-wrapper textarea{
    width: 100%;
    height: 15vh;
    box-sizing: border-box;
    border: solid 1px lightgray;
    border-radius: 1vw;
    padding: 2vh 1.5vw;
    font-family: Arial, Helvetica, sans-serif;
    resize: none;
}
.detail__comments-wrapper textarea:focus{
    outline: none;
}
.detail__comment-wrapper{
    margin: 2vh 0;
}
.detail__submit-wrapper{
    float:right;
}
.detail__submit-eva{
    display: inline-block;
    font-size: 1.2vw;
    margin-right: 5vw;
}