body{
    background-color: #F0F0F0;
    margin: 0;
}

.header__wrapper{
    position: fixed;
    top:0;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 80px;
    font-size: 18px;
    background-color: white;
    user-select: none;
}

.header__left-wrapper{
    display: flex;
    flex-direction: row;
    padding-left: 30px;
}

.header__logo{
    line-height: 80px;
    font-size: 48px;
    font-weight: bold;
    color: #3B4FFF;
}

.header__sign-section{
    padding-right: 50px;
}

.header__btn{
    line-height: 80px;
    text-decoration: none;
    font-weight: bold;
    margin-left: 40px;
    color: black;
    padding: 12px 0;

    -webkit-transition: 0.3s;
    transition: 0.3s ease;
}

.header__signup{
    display: inline-block;
    line-height: 25px;
    color: white;
    background-color: #7E8BFF;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
}

.header__signup:hover{
    transform: scale(1.05);
}