.header__wrapper{
    position: fixed;
    top:0;
    z-index: 1;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 8.5vh;
    font-size: 1vw;
    background-color: white;
    user-select: none;
    border-bottom: 1px solid #F0F0F0;
}

.header__left-wrapper{
    display: flex;
    flex-direction: row;
    padding-left: 30px;
}

.header__logo{
    line-height: 8.5vh;
    font-size: 2.5vw;
    font-weight: bold;
    color: #3B4FFF;
}

.header__sign-section{
    padding-right: 2vw;
}

.header__btn{
    line-height: 8.5vh;
    text-decoration: none;
    font-weight: bold;
    margin-left: 40px;
    color: black;
    padding: .8vw 0;
}

.header__signup{
    display: inline-block;
    line-height: 3vh;
    color: white;
    background-color: #7E8BFF;
    padding-left: .8vw;
    padding-right: .8vw;
    border-radius: .8vw;
}

.header__signup:hover{
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
    transform: scale(1.05);
}