body{
    text-align: center;
}
main{
    margin-top: 6vh;
}
.map__map-section{
    display: inline-block;
}

.map__request{
    display: flex;
    position: absolute;
    font-size: .8vw;
    line-height: 1em;
    top: -1.75em;
    right: 0;
    color: #7E8BFF;
}
.map__request img{
    width: 1em;
    height: 1em;
    filter: invert(50%);
    margin-right: .5vw;
}

.map__request-explanation{
    display: none;
    position: absolute;
    top: 1.5em;
    background-color: white;
    box-sizing: border-box;
    padding: 5%;
    box-shadow: 0 0 .1vw gray;
    width: 22vw;
    line-height: 1.5em;
    text-align: left;
    left: -11vw;
    z-index: 100;
    background-color: white;
    border-radius: .5vw;
}

.map__request img:hover ~ .map__request-explanation{
    display: inline;
}

.map__cur-coords{
    position: absolute;
    user-select: none;
    pointer-events: none;
    top: 0;
    background-color: white;
    font-size: 1vw;
    border-radius: 1vw;
    padding: .5%;
    margin: .5%;
    border: .1vw solid #DDD;
}
.map__data-wrapper{
    animation: fadein-vertical1 1s;
}
.map__map-image, .map__data-wrapper{
    border-radius: 1vw;
    width: 65vw;
    height: 80vh;
    -webkit-user-drag: none;
}

#map__detail-info-iframe{
    display: inline-block;
    margin-left: 1vw;
    box-sizing: border-box;
    width: 25vw;
    height: 80vh;
    border: 0;
    border-radius: 1vw;
    box-shadow: 0 0 .5vw rgba(0, 0, 0, 0.1);

    animation: fadein-vertical1 1s;
}

@keyframes fadein-vertical1{
    from {
        -webkit-transform: translateY(-3vh);
        transform: translateY(-3vh);
        opacity: 0;
    }
    20%{
        -webkit-transform: translateY(-3vh);
        transform: translateY(-3vh);
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}