body{
    text-align: center;
}
main{
    margin-top: 6vh;
}
.map__map-section{
    display: inline-block;
}

.map__cur-coords{
    position: absolute;
    user-select: none;
    pointer-events: none;
    top: 0;
    background-color: white;
    font-size: 1vw;
    border-radius: 1vw;
    padding: .5%;
    margin: .5%;
    border: .1vw solid #DDD;
}

.map__map-image, .map__data-wrapper{
    border-radius: 1vw;
    width: 65vw;
    height: 80vh;
    -webkit-user-drag: none;
}

#map__detail-info-iframe{
    display: inline-block;
    margin-left: 1vw;
    box-sizing: border-box;
    width: 25vw;
    height: 80vh;
    border: 0;
    border-radius: 1vw;
    box-shadow: 0 0 .5vw #999;

    animation: fadein-vertical 1s;
}

@keyframes fadein-vertical{
    from {
        -webkit-transform: translateY(-3vh);
        transform: translateY(-3vh);
        opacity: 0;
    }
    20%{
        -webkit-transform: translateY(-3vh);
        transform: translateY(-3vh);
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}