.map__data-wrapper{
    display: inline-block;
    position: relative;
    background-image: url("../assets/map.png");
    background-repeat: no-repeat;
    background-size:65vw 80vh;
}

.map__data{
    position: absolute;
    box-sizing: border-box;
    box-shadow: 0 0 .1vw gray;
    z-index: 100;
    width: 30vw;
    height: 45vh;
    background-color: white;
    border-radius: 1vw;
}
.map__data-content-wrapper{
    height: 100%;
}

.map__detail-wrapper p{
    height: 1.5em;
    font-size: 1vw;
    white-space: nowrap;
    text-overflow: ellipsis ;
    overflow: hidden;
    margin: .1vh 0;
    padding-bottom: 4vh;
}

.map__marker{
    position: absolute;
    transform: translateY(-2vh);
    width: 1vw;
    height: 1vw;
    border-radius: 500px;
    background-color: red;

    animation: fadein-vertical3 1s;
}

@keyframes fadein-vertical3{
    from {
        -webkit-transform: translateY(-10px);
        transform: translateY(-10px);
        opacity: 0;
    }
    70%{
        -webkit-transform: translateY(-10px);
        transform: translateY(-10px);
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.map__anchor-circle{
    position: relative;
    top:25%;
    left: 25%;
    width: .5vw;
    height: .5vw;
    border-radius: 500px;
    background-color: white;
    z-index: 1;
}

.map__anchor-triangle{
    position: relative;
    top:15%;
    width: 0;
    height: 0;
    border-left: .5vw solid transparent;
    border-right: .55vw solid transparent;
    border-top: 1.2vw solid #f00;
}

.map__detail-wrapper{
    user-select: none;
    height: 50%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 4%;
}

.map__title-wrapper{
    height: 20%;
}

.map__data-image{
    -webkit-user-drag: none;
    display: inline-block;
    border-radius: 1vw 1vw 0 0;
    width: 100%;
    height: 50%;
}

.map__title-wrapper h3{
    font-size: 1vw;
    margin: 0;
    float: left;
}
.map__title-wrapper div{
    color:orange;
    font-size: .8vw;
    margin-left: 2%;
    float: left;
}
.map__func-btn-wrapper{
    float:left;
    display: flex;
    flex-direction: column;
    margin-right: 5%;
}
.map__func-btn-wrapper div{
    display: inline-block;
    color: #3B4FFF;
    font-weight: bold;
    font-size: .7vw;
    text-align: center;
    user-select: none;
    margin-top: 10%;
}
.map__func-btn-wrapper button{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    box-sizing: border-box;
    width: 2.5vw;
    height: 2.5vw;
    border-radius: 500px;
    border: .1vw solid #3B4FFF;
    background-color: white;
    cursor: pointer;
}
.map__func-btn-wrapper button img{
    position: relative;
    width: 50%;
    -webkit-filter: invert(24%) sepia(97%) saturate(3280%) hue-rotate(232deg) brightness(102%) contrast(103%);
    filter: invert(24%) sepia(97%) saturate(3280%) hue-rotate(232deg) brightness(102%) contrast(103%);
}

.map__func-btn-wrapper button:hover{
    transition: 1s;
    -webkit-transition: .2s;
    background-color: #3B4FFF;
}

.map__func-btn-wrapper button:hover img{
    -webkit-filter: invert(100%);
    filter: invert(100%);
}

.map__logo{
    font-family: "yg-jalnan";
    line-height: 7vh;
    font-size: 2.1vw;
    font-weight: bold;
    color: #3B4FFF;
    text-decoration: none;

    float: right;
}

/*카드가 위로 나올 경우(45vh, 15vw는 카드의 가로/세로, 1vh와 .5vw는 보정치)*/
#map__data1{top:calc(64% - 45vh - 1vh);left:calc(53% - 15vw + .5vw);}
#map__marker1{top:64%;left:53%}
#map__marker1:hover~#map__data1, #map__data1:hover{display: inline-block;}
#map__data1{display: none;}

/*카드가 아래로 나올 경우(45vh, 15vw는 카드의 가로/세로, 1vh와 .5vw는 보정치)*/
#map__data2{top:calc(48.5% + 1vh);left:calc(48% - 15vw + .5vw);}
#map__marker2{top:48.5%;left:48%}
#map__marker2:hover~#map__data2, #map__data2:hover{display: inline-block;}
#map__data2{display: none;}

/*카드가 위로 나올 경우(45vh, 15vw는 카드의 가로/세로, 1vh와 .5vw는 보정치)*/
#map__data3{top:calc(59.5% - 45vh - 1vh);left:calc(56.5% - 15vw + .5vw);}
#map__marker3{top:59.5%;left:56.5%}
#map__marker3:hover~#map__data3, #map__data3:hover{display: inline-block;}
#map__data3{display: none;}

/*카드가 아래로 나올 경우(45vh, 15vw는 카드의 가로/세로, 1vh와 .5vw는 보정치)*/
#map__data4{top:calc(42% + 1vh);left:calc(44% - 15vw + .5vw);}
#map__marker4{top:42%;left:44%}
#map__marker4:hover~#map__data4, #map__data4:hover{display: inline-block;}
#map__data4{display: none;}

/*카드가 위로 나올 경우(45vh, 15vw는 카드의 가로/세로, 1vh와 .5vw는 보정치)*/
#map__data5{top:calc(73% - 45vh - 1vh);left:calc(65.5% - 15vw + .5vw);}
#map__marker5{top:73%;left:65.5%}
#map__marker5:hover~#map__data5, #map__data5:hover{display: inline-block;}
#map__data5{display: none;}

/*카드가 위로 나올 경우(45vh, 15vw는 카드의 가로/세로, 1vh와 .5vw는 보정치)*/
#map__data6{top:calc(62% - 45vh - 1vh);left:calc(59% - 15vw + .5vw);}
#map__marker6{top:62%;left:59%}
#map__marker6:hover~#map__data6, #map__data6:hover{display: inline-block;}
#map__data6{display: none;}

/*카드가 아래로 나올 경우(45vh, 15vw는 카드의 가로/세로, 1vh와 .5vw는 보정치)*/
#map__data7{top:calc(44% + 1vh);left:calc(39% - 15vw + .5vw);}
#map__marker7{top:44%;left:39%}
#map__marker7:hover~#map__data7, #map__data7:hover{display: inline-block;}
#map__data7{display: none;}

/*카드가 위로 나올 경우(45vh, 15vw는 카드의 가로/세로, 1vh와 .5vw는 보정치)*/
#map__data8{top:calc(75% - 45vh - 1vh);left:calc(54% - 15vw + .5vw);}
#map__marker8{top:75%;left:54%}
#map__marker8:hover~#map__data8, #map__data8:hover{display: inline-block;}
#map__data8{display: none;}

/*카드가 위로 나올 경우(45vh, 15vw는 카드의 가로/세로, 1vh와 .5vw는 보정치)*/
#map__data9{top:calc(61% - 45vh - 1vh);left:calc(48.5% - 15vw + .5vw);}
#map__marker9{top:61%;left:48.5%}
#map__marker9:hover~#map__data9, #map__data9:hover{display: inline-block;}
#map__data9{display: none;}

/*카드가 위로 나올 경우(45vh, 15vw는 카드의 가로/세로, 1vh와 .5vw는 보정치)*/
#map__data10{top:calc(81% - 45vh - 1vh);left:calc(65% - 15vw + .5vw);}
#map__marker10{top:81%;left:65%}
#map__marker10:hover~#map__data10, #map__data10:hover{display: inline-block;}
#map__data10{display: none;}

/*카드가 위로 나올 경우(45vh, 15vw는 카드의 가로/세로, 1vh와 .5vw는 보정치)*/
#map__data11{top:calc(84% - 45vh - 1vh);left:calc(63% - 15vw + .5vw);}
#map__marker11{top:84%;left:63%}
#map__marker11:hover~#map__data11, #map__data11:hover{display: inline-block;}
#map__data11{display: none;}

/*카드가 위로 나올 경우(45vh, 15vw는 카드의 가로/세로, 1vh와 .5vw는 보정치)*/
#map__data12{top:calc(87% - 45vh - 1vh);left:calc(61% - 15vw + .5vw);}
#map__marker12{top:87%;left:61%}
#map__marker12:hover~#map__data12, #map__data12:hover{display: inline-block;}
#map__data12{display: none;}