.map__data-wrapper{
    position: absolute;
    top: 0;
}

.map__data{
    position: absolute;
    box-sizing: border-box;
    box-shadow: 0 0 .1vw gray;
    z-index: 100;
    width: 30vw;
    height: 40vh;
    background-color: white;
    border-radius: 1vw;
    padding: 2% 2%;
}
.map__data-content-wrapper{
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
}

.map__data-content-wrapper p{
    height: 1.5em;
    font-size: 1vw;
    white-space: nowrap;
    text-overflow: ellipsis ;
    overflow: hidden;
}

.map__marker{
    position: absolute;
    width: 1vw;
    height: 1vw;
    border-radius: 500px;
    background-color: red;
}

.map__data-upper-section{
    display: flex;
    height: 50%;
}

.map__data-image{
    display: inline-block;
    align-self: center;
    width: 40%;
    height: 80%;
    background-color: gray;
}

.map__data-image~h3{
    display: inline-block;
    font-size: 1vw;
    margin: 0;
    margin-left: 5%;
    margin-top: 2.5%;
    height: 20%;
}
.map__data-image~div{
    display: inline-block;
    color:orange;
    margin-left: 2.5%;
    margin-top: 2.5%;
    font-size: .8vw;
    height: 20%;
}
.map__func-btn-wrapper{
    float:left;
    display: flex;
    flex-direction: column;
    margin-right: 2.5%;
}
.map__func-btn-wrapper div{
    display: inline-block;
    color: #3B4FFF;
    font-weight: bold;
    font-size: .7vw;
    text-align: center;
    user-select: none;
    margin-top: 10%;
}
.map__func-btn-wrapper button{
    padding: 0;
    box-sizing: border-box;
    width: 2.5vw;
    height: 2.5vw;
    border-radius: 500px;
    border: .1vw solid #3B4FFF;
    background-color: white;
    cursor: pointer;
}
.map__func-btn-wrapper button img{
    position: relative;
    top: .3vh;
    width: 50%;
    -webkit-filter: invert(24%) sepia(97%) saturate(3280%) hue-rotate(232deg) brightness(102%) contrast(103%);
    filter: invert(24%) sepia(97%) saturate(3280%) hue-rotate(232deg) brightness(102%) contrast(103%);
}

.map__func-btn-wrapper button:hover{
    transition: 1s;
    -webkit-transition: .2s;
    background-color: #3B4FFF;
}

.map__func-btn-wrapper button:hover img{
    -webkit-filter: invert(100%);
    filter: invert(100%);
}

/*카드가 위로 나올 경우*/
#map__data1{top:calc(60.5% - 40vh + .1vh);left:calc(56% - 15vw + .5vw);}
#map__marker1{top:60.5%;left:56%}
#map__marker1:hover~#map__data1, #map__data1:hover{display: inline-block;}
#map__data1{display: none;}

/*카드가 아래로 나올 경우*/
#map__data2{top:calc(36.5% + 2vh);left:calc(35.8% - 15vw + .5vw);}
#map__marker2{top:36.5%;left:35.8%}
#map__marker2:hover~#map__data2, #map__data2:hover{display: inline-block;}
#map__data2{display: none;}
