/*Login-style.css*/
body{
        background-color: #F0F0F0;
}

h1{
        font-size: 2vw;
        margin: 0;
}
.content{
        padding: 8vh 0;
}
.input__loginbox{
        width: 35vw;
        height: 50vh;
        margin: 0 auto;
        padding: 2vw 0;
        border-radius: 2.5vw;
        background-color: white;
        box-shadow: .2vw .2vw .2vw rgb(0 0 0 / 0.1);
        user-select: none;

        animation: fadein 1s;
}
.input__id{
        width: 28vw;
        font-size: 0.9vw;
}
.input__password{
        width: 28vw;
        font-size: 0.9vw;
}
.input__textbox{
        box-sizing: border-box;
        width: 100%;
        height: 5vh;
        margin-top: 1.2vh;
        padding: 0 1.2vw;
        font-size: .8vw;
        border-radius: .5vw;
        border-style: solid;
        border-width: .08px;
        border-color: #B0B0B0;
        outline: none;
}
.input__password-find{
        margin-top: 1vh;
}
.input__password-find > a{
        text-decoration: none;
        color: #7E8BFF;
        font-size: .8vw;
}
.input__password-find > a:hover{
        text-decoration: underline;
}

.input__login-button{
        width: 20vw;
        margin: 0 auto;
}
.input__login-button > input{
        width: 20vw;
        height: 5vh;
        font-size: 1vw;
        color: white;
        background-color: #7E8BFF;
        border-style: none;
        border-radius: .5vw;
}
.input__login-button > input:hover{
        -webkit-transition: 0.3s ease;
        transition: 0.3s ease;
        cursor: pointer;
        background-color: #4B4FFF;
        cursor: pointer;
}
.input__join-membership{
        margin-top: 1vh;
        text-align: center;
        font-size: .8vw;
}
.input__join-membership > a{
        text-decoration: none;
        color: #7E8BFF;
}

.input__join-membership > a:hover{
        text-decoration: underline;
}

.input__form-box {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 80%;
        height: 100%;
        margin: 0 auto;
}

@keyframes fadein {
        from {
                -webkit-transform: translateY(-10px);
                transform: translateY(-10px);
                opacity: 0;
        }
        to {
            opacity: 1;
        }
    }