.signin1__box{
    width: 700px;
    height: 1300px;
    display: block;
    background-color: white;
    margin: 0 auto;
    background: #FFFFFF;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    padding-right: 70px;
    padding-left: 70px;
    padding-top: 20px;
}
.signin1__signin{
font-size: 42px;
}
.signin1__data{
    width: 100%;
    height: 53px;
    border-style: solid;
    border-width: 2px;
    border-color: #B0B0B0;
    border-radius: 10px;
    font-size: larger;
}
.signin1__date{
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
    height: 53px;
    border-style: solid;
    border-width: 2px;
    border-color: #B0B0B0;
    border-radius: 10px;
    font-size: larger;
}
.signin1__sex-radio{
    appearance: none;
    background-color: #D9D9D9;
    width: 20px; 
    height: 20px; 
    border-radius: 50%; 
    cursor: pointer; 
}
.signin1__sex-radio:checked{
    appearance: none;
    background-color: skyblue;
    width: 20px; 
    height: 20px; 
    border-radius: 50%; 
    border:2px solid #d9d9d9
}
.signin1__sex{
    font-size: large;
}
.signin1__email{
    width: 45%;
    height: 53px;
    border-style: solid;
    border-width: 2px;
    border-color: #B0B0B0;
    border-radius: 10px;
    font-size: larger;
}
.signin1__at{
    font-size: 32px;
}
.signup1__return-btn{
    background-color: #FFFFFF;
    border-style: solid;
    border-radius: 10px;
    border-width: 1px;
    width: 100px;
    height: 50px;
    font-size: 20px;
    border-color: #f0f0f0;
    color: #979797;
}
.signup1__next-btn{
    background-color: #7E8BFF;
    border-style: solid;
    border-radius: 10px;
    border-width: 1px;
    width: 100px;
    height: 50px;
    font-size: 20px;
    border-color: #7E8BFF;
    color: #FFFFFF;
    margin-left: 25px;
}